# About CODEOWNERS

## https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Folders

/assets/                       @coliff
/content/                      @coliff @egunther39 @mitch-trimble
/layouts/                      @coliff
/static/                       @coliff

## File Types

*.html      @coliff
*.js        @coliff
*.md        @coliff @egunther39 @mitch-trimble
*.scss      @coliff
*.xml       @coliff
