<div class="container">
  <div class="row pt-2">
    <div class="col-12 col-sm-6 small">
      Copyright &copy; {{ now.Format "2006" }}, Trimble Inc.
    </div>
    <div class="col-12 col-sm-6 text-sm-end small">
      <a href="https://www.trimble.com/en/our-commitment/responsible-business/data-privacy-and-security/data-privacy-center"
        target="_blank" rel="noopener">Privacy Center</a> -
      <a href="https://www.trimble.com/en/legal/terms-and-conditions/terms-of-use" target="_blank" rel="noopener">Terms
        of Use</a>
    </div>
  </div>
</div>