<div class="sticky-top sticky-offset d-print-none">
  {{ if and (gt .WordCount 100 ) (not .Params.hideToc) }}
  <div class="h5 pt-2 on-this-page d-none d-xl-block">
    On this page
  </div>
  {{- .TableOfContents -}}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('#TableOfContents ul').forEach(function (ul) {
        ul.classList.add('list-unstyled', 'ms-0');
      });
      document.querySelectorAll('#TableOfContents a').forEach(function (a) {
        a.classList.add('nav-link');
      });
    });
  </script>

  <hr class="opacity-25">
  {{ end }}

  {{- if (or (.Params.bootstrapURL) (.Params.reactBootstrapURL) (.Params.webComponentsURL)) -}}
  <div class="h5 pt-2 ms-0">
    Implementations
  </div>
  <ul class="list-unstyled ps-0 ms-0">
    {{- if .Params.bootstrapURL}}
    <li class="my-2"><a href="https://modus-bootstrap.trimble.com{{- .Params.bootstrapURL -}}"
        class="nav-link text-decoration-none" target="_blank" rel="noopener">Modus Bootstrap</a></li>
    {{- end -}}
    {{- if .Params.webComponentsURL}}
    <li class="my-2"><a href="{{- .Params.webComponentsURL -}}" class="nav-link text-decoration-none" target="_blank"
        rel="noopener">Modus Web Components</a></li>
    {{- end -}}
  </ul>
  {{- end -}}

  {{- if not .Params.blog -}}
  {{ partial "was-this-page-helpful.html" . }}
  {{ end }}
</div>
