<table class="table table-hover table-mobile">
  <thead>
    <tr>
      <th scope="col" style="width: 20px">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check1">
          <label class="form-check-label" for="check1"></label>
        </div>
      </th>
      <th scope="col">Batch</th>
      <th scope="col">Restricted</th>
      <th scope="col">Status</th>
      <th scope="col">Year</th>
      <th scope="col">Period</th>
      <th scope="col">Journal #</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Reverse</th>
      <th scope="col">Created By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check2">
          <label class="form-check-label" for="check2"></label>
        </div>
      </th>
      <td>GTF</td>
      <td>&nbsp;</td>
      <td><span class="badge text-bg-secondary">Entered</span></td>
      <td>2025</td>
      <td>01</td>
      <td>004</td>
      <td>01/31/25</td>
      <td>Monthly</td>
      <td>Yes</td>
      <td>GTF</td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check3">
          <label class="form-check-label" for="check3"></label>
        </div>
      </th>
      <td>GTF</td>
      <td>&nbsp;</td>
      <td><span class="badge text-bg-success">Approved</span></td>
      <td>2025</td>
      <td>01</td>
      <td>003</td>
      <td>01/31/25</td>
      <td>Accurals</td>
      <td>Yes</td>
      <td>GTF</td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check4">
          <label class="form-check-label" for="check4"></label>
        </div>
      </th>
      <td>GTF</td>
      <td>Yes</td>
      <td><span class="badge text-bg-danger">Rejected</span></td>
      <td>2025</td>
      <td>01</td>
      <td>002</td>
      <td>01/31/25</td>
      <td>Accurals</td>
      <td>Yes</td>
      <td>GTF</td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check5">
          <label class="form-check-label" for="check5"></label>
        </div>
      </th>
      <td>GTF</td>
      <td>Yes</td>
      <td><span class="badge text-bg-warning">Unapproved</span></td>
      <td>2025</td>
      <td>01</td>
      <td>001</td>
      <td>01/31/25</td>
      <td>Reversing JE</td>
      <td>Yes</td>
      <td>GTF</td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check6">
          <label class="form-check-label" for="check6"></label>
        </div>
      </th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check7">
          <label class="form-check-label" for="check7"></label>
        </div>
      </th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check8">
          <label class="form-check-label" for="check8"></label>
        </div>
      </th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check9">
          <label class="form-check-label" for="check9"></label>
        </div>
      </th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check10">
          <label class="form-check-label" for="check10"></label>
        </div>
      </th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check11">
          <label class="form-check-label" for="check11"></label>
        </div>
      </th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
