$guide-header-height: 60px;
$guide-header-bg: $gray-50;
$guide-footer-bg: $gray-50;
$guide-body-max-width: 1200px;

.guide-layout {
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;


  .guide-header {
    min-height: $guide-header-height;
    max-height: $guide-header-height;
    background-color: $guide-header-bg;
    .navbar {
      max-width: 1600px;
      margin: 0 auto;
      padding-left: .5rem;
      padding-right: .5rem;
    }
    .navbar-brand {
      width: 200px;
    }

    .navbar-text h1 {
      font-size: 1.2rem;

      @include min(375px) {
        font-size: 1.5rem;
      }
    }
  }

  .guide-body {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
  }

  .guide-footer {
    background-color: $guide-footer-bg;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-left: 8px;

    div {
      margin-right: .5rem;
    }

    @include md {
      justify-content: flex-start;

      div {
        margin-right: 1rem;
      }
    }
  }

  .guide-nav {
    position: sticky;
    top: 0;
    min-width: 200px;
    max-width: 200px;
    padding-top: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    &.collapse.show, &.collapsing {
      position: absolute;
      z-index: 100;
      left: 0;
      top: 62px;
      max-height: 80vh;
      background-color: #fff;
      box-shadow: $shadow-depth-1;
    }
    a.nav-link {
      color: theme-color('dark');
      font-weight: 600;
      display: flex;
      align-items: center;
      &.active, &:hover {
        color: ui-color('active') !important;
      }
    }
    .sub-nav {
      a.nav-link {
        color: $gray-500;
        font-weight: 400;
        margin: 0 0 0 8px;
        display: flex;
        &.active {
          border-left: 2px solid;
          border-left-color: ui-color('active');
          padding-left: 14px;
        }
      }
    }
    .nav-link[data-toggle]:not(.collapsed) {
      & > i {
        transform: rotate(180deg);
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
      }
    }
    .nav-link[data-toggle].collapsed {
      & > i {
        transform: rotate(0deg);
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
      }
    }
  }

  .guide-content-column {
    display: flex;
    flex: 1 1 auto;
    // overflow-y: auto;
    position: relative;
    max-width: $guide-body-max-width;
    min-width: 100px;
  }
  .guide-content {
    padding: 1rem 1rem;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
  }

  .guide-scroll-container {
    width: 100%;
}

  .guide-right-nav {
    position: sticky;
    top: 0;
    min-width:200px;
    max-width:200px;
    display: none;
    flex-direction: column;
    &>nav {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex-wrap: nowrap;
    }
    a.nav-link {
      color: $gray-500;
      font-weight: 400;
      display: flex;
      &.active, &:hover {
        color: ui-color('active') !important;
      }
      &.active {
        border-left: 2px solid;
        border-left-color: ui-color('active');
        padding-left: 14px;
      }
    }
  }
}

#ContentTabs.sticky {
  position: fixed;
  top: 60px;
  // left: 1rem;
  // right: 1rem;
  background-color: white;
  z-index: 99;
}

.guide-scroll-container {
  .tab-section > *:last-child,
  .guide-section > *:last-child {
    margin-bottom: 70vh;
  }
}

.guide-scroll-container.has-sticky {
  margin-top: 48px;
}

.guide-section, .tab-section {
  margin: 40px 0 80px;
  flex: 1;
}


.guide-tab-content {
  table:not(.table) {
    @extend .card;
    display: flex;
    background-color: transparent;
    width: fit-content;
    box-shadow: $shadow-depth-1;
    td, th {
      padding: 16px;
      background-color: white;
      border-left: 1px solid $gray-300;
      &:first-child {
        border-left-width: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    tr:last-child td {
      border-top: 1px solid $gray-300;
      p {
        max-width: 300px;
        color: theme-color('dark');
      }
    }
  }

  .tab-section > ul > li {
    margin-bottom: 8px;
  }
  > h4 {
    margin-top: 24px;
  }
}

.tab-content {
  display:flex;
  flex-direction: column;
  // overflow: auto;
  .tab-pane {
    position: relative;
  }
  &>.active {
    display:flex !important;
    flex: 1;
  }
}

.tab-section {
  img {
    max-width: 100%;
  }
}

.guide-example-block {
  display: flex;
  flex-direction: column;
  // min-width: 900px;
  position: relative;
  box-shadow: $shadow-depth-1;

  .ether-page-layout {
    height: 100%;
  }

  .guide-content-sample {
    padding: 40px 100px;
    &.anatomy-display-container {
      padding-left: 250px;
    }
  }

  .guide-sample {
    padding: 20px;
    background-color: #ffffff;

    > .progress + .progress {
      margin-top: 1rem;
    }

    > .spinner-rectangle-bounce {
      margin-right: 1rem;
    }
  }

  .guide-code, .guide-code-static {
    background-color: #f8f9fa;
    padding-bottom: 30px;
    position: relative;
    code {
      text-align: left;
    }

    pre {
      margin-top: -10px;
      margin: 1rem;
      color: #333;
      white-space: pre-wrap;
    }
  }

  // .guide-copy-code {
  //   position: absolute;
  //   bottom: 0px;
  //   right: 8px;
  // }

  // .codepen-mover-button {
  //   position: absolute;
  //   bottom: 0px;
  //   left: 8px;
  // }
}

td.anatomy-cell {
  height: 120px;
  padding: 20px 80px 20px 230px;
  vertical-align: middle;
}

thead th {
  background-color: #F3F3F7;
}