.guide-content-home {
  height: 100%;
  width: 100%;
  .background-container {
    .home-background {
      position: absolute;
      height: 456px;
      right: -45rem;
      overflow-x: hidden;
      z-index: -1;
      display: none;

      @include min(768px) {
        display: block;
      }
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 3rem;

    @include min(1200px) {
      flex-direction: row;
      margin-top: 0;
      height: 28rem;
      justify-content: space-between;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      @include min(1200px) {
        font-size: 3rem;
      }
    }
    p {
      font-size: 1.125rem;
      @include min(1200px) {
        font-size: 1.25rem;
      }
    }
  }
  .homepage-main-img {
    width: 100%;
    max-width: 100%;
    @include min(375px) {
      width: 25rem;
    }
    @include min(1200px) {
      width: 35rem;
    }
  }
}
.guide-content-top-home {
  padding: 1rem 1rem;
  padding-bottom: 0;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  #second-header {
    font-size: 2rem;
  }
}

.feature-left,
.feature-right {
  margin-top: 2rem;
}

@include min(1200px) {
  .feature-right .feature-text {
    text-align: right;
  }
  .feature-left .feature-text {
    text-align: left;
  }
}

.feature-img  {
  text-align: center;
  align-self: center;
  @include min(1200px) {
    order: initial !important;
  }
  img {
    margin-bottom: 2rem;
    width: 5rem;
    @include min(1200px) {
      margin: 0;
      padding: 0;
      width: 6.5rem;
    }
  }
}

.feature-text {
  text-align: center;
  h3 {
    font-size: 1.75rem;
    font-weight: bold;
  }
  p {
    font-weight: 300;
    font-size: 1.125rem;
  }
}

.feature-left {
  .feature-img {
    order: -1;
  }
}