// @import '/node_modules/prismjs/themes/prism.css';
$panel-background-color: #F3F3F7;

html {
  height: 100%;
}

body {
  height: 100%;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  background-color: #ffffff;
}

th, td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee3e6;
}

.guide-content {
  //overflow-y: auto;
  padding: 20px;
}

.guide-content-column {
  padding: 20px;
  //  min-width: 960px;
}

.guide-header {
  height: 70px;
  background-color: #fff;

  &>img {
    max-height: 30px;
    max-width: 200px;
    float: left;
    margin: 20px;
  }

  &>h1 {
    display: inline-block;
    font-size: 2rem;
    margin-top: 12px;
  }
}

.guide-section {
  margin: 40px 0 80px;
}

.guide-example-block {
  display: flex;
  flex-direction: column;
  // min-width: 900px;
  position: relative;

  &>div {
    border: 1px solid #ddd;
  }

  .ether-page-layout {
    height: 100%;
  }

  .guide-sample {
    padding: 20px;
  }

  .guide-code {
    background-color: #fff;
    border-top: none;
    padding-bottom: 30px;

    code {
      text-align: left;
    }

    pre {
      margin-top: -10px;
      margin: 1rem;
      color: #333;
      white-space: pre-wrap;
    }
  }

  .guide-copy-code {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.button-container {
  .btn {
    margin: 0px 20px;
  }

  .btn-group>.btn {
    margin: unset;
  }
}

.chips-block {
  .chip {
    margin-right: 30px;
  }
}

.dropdown-example {
  .dropdown {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.modal-static {
  .modal {
    position: relative;
    display: inline;
  }
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    margin: 20px 50px;
    widows: 14rem;
    ;
  }
}

.input-block {
  //display: flex;
  display: inherit;
  flex-wrap: wrap;


  .form-group {
    width: 300px;
    margin: 5px 20px;
  }

  .input-group {
    width: 300px;
  }
}

.state-examples {
  .guide-sample {
    display: inherit;
    flex-wrap: wrap;

    .state-sample {
      width: 450px;

      .form-group {
        margin: 5px 0px;
      }
    }
  }
}


.specs {
  padding: 10px;
  border-bottom: 1px solid #ddd;

  img {
    max-height: 90vh;
    max-width: 90vw;
    display: block;
    width: auto;
    height: auto;
  }
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #fff;
}

.pop-highlight {
  //background-color: red !important;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    border: 1px dashed rgba(255, 0, 0, 1);
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    pointer-events: none;
  }
}

.hidden {
  display: none;
}

.icon-lib {
  //temporary
  height: 2150px;
}

.color-swatches {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;

  .card-img-top {
    display: block;
    width: 200px;
    height: 100px;
    border-bottom: 1px solid #ddd;
  }
}

.indent {
  padding-left: 1rem;
}

.border-sample > div {
  height: 5rem;
  width: 5rem;
  display: inline-block;
  background-color: #ffffff;
  margin-right: 1rem;
}

.subtractive-sample > div {
  border: 1px solid #bfbfc6;
}

.border-radius-sample > div {
  background-color: #868e96;
  &.rounded-pill {
    width: 10rem;
  }
}

.highlighted {
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.15);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.ex-sidebar-open {
  .ether-sidebar {
    ul {
      padding: 0;

      li {
        list-style: none;
        .collapsed {
          .expand-icon {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
          }
        }
      }

      .sub-nav {
        .nav-link {
          border: none;
          padding-left: 3rem;
          //&.collapse:not(.show)
        }
      }

    }
  }
}

.ex-sidebar-closed {
  .ether-sidebar {
    flex: 0 0 60px;

    ul {
      padding: 0;

      li {
        list-style: none;

        .sub-nav {
          display: none;
        }

        &.has-subnav:hover {
          .sub-nav {
            display: block;
            position: absolute;
            left: 60px;
            margin-top: -48px;

            .nav-link {
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }
}