$panel-background-color: #F3F3F7;

html {
  height: 100%;
}

body {
  height: 100%;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.grid-item {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.auto-grid-3 {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-gap: 10px;
}

.cols-2 {
  grid-column-end: span 2;
}

.span-2 {
  /* grid-column-end: span 2; */
  grid-row-end: span 2;
}

.span-3 {
  /* grid-column-end: span 3; */
  grid-row-end: span 3;
}

.guide-section-nav {
  position: fixed;
  top: 70px;
  bottom: 0px;
  width: 200px;
}

.guide-content {
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
}

.guide-header {
  height: 70px;
  background-color: #fff;

  &>img {
    max-height: 30px;
    max-width: 200px;
    float: left;
    margin: 20px;
  }

  &>h1 {
    display: inline-block;
    font-size: 2rem;
    margin-top: 12px;
  }
}

.guide-section {
  margin: 40px 0 80px;
}

.guide-example-block {
  display: grid;
  grid-template-rows: auto auto;
  max-width: 900px;

  &>div {
    border: 1px solid #ddd;
  }

  .guide-sample {
    padding: 20px;
  }

  .guide-code {
    background-color: #fff;
    border-top: none;
    position: relative;
  }

  .guide-copy-code {
    position: absolute;
    top: -1px;
    right: -1px;
  }
}

pre {
  white-space: pre-line;
  margin: 1rem;
}

// Code highlighting
// https://andrewsun.com/tools/syntax-highlighter/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  // background: #F0F0F0
}

.hljs,
.hljs-subst {
  color: #444
}

.hljs-comment {
  color: #888888
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060
}

.hljs-literal {
  color: #78A960
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300
}

.hljs-meta {
  color: #1f7199
}

.hljs-meta-string {
  color: #4d99bf
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}