<!doctype html>
<html lang="en-US">

<head>
  {{ partial "meta" . }}
  {{ partial "analytics" . }}
</head>

{{- if and (gt .WordCount 350 ) (not .Params.hideToc) -}}

<body data-url="{{ .RelPermalink }}" data-spy="scroll" data-target="#TableOfContents" data-offset="126" {{ if .Params.listjs }}id="listjs-body"{{- end -}}>
  {{ else }}

  <body data-url="{{ .RelPermalink }}" {{ if .Params.listjs }}id="listjs-body"{{- end -}}>
    {{- end -}}

    {{ partial "navbar" . }}

    {{ block "body" . }} {{ block "main" . }} {{- end -}}
    {{- end -}}

    {{ block "footer" . }} {{ partial "footer" . }} {{- end -}}

    <!-- <script
    src="https://jira.trimble.tools/s/3437519aa7c48d4bde2062c82e260064-T/obnrbp/76010/9d85737751e6b339a2967c1b0989fc67/2.0.27/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=9127b19e"></script>
  <script
    src="https://jira.trimble.tools/s/3437519aa7c48d4bde2062c82e260064-T/obnrbp/76010/9d85737751e6b339a2967c1b0989fc67/2.0.27/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=eac08567"></script>
  <script src="https://kit.fontawesome.com/bbe67f2190.js"></script>
 -->
  </body>

</html>
