<!doctype html>
<html lang="en-US" class="no-js">

<head>
  {{ partial "meta" . }}
  {{ partialCached "analytics" . }}
</head>

{{- if and (gt .WordCount 350 ) (not .Params.hideToc) -}}

<body data-url="{{ .RelPermalink }}" data-spy="scroll" data-target="#TableOfContents" data-offset="126"
  {{ if .Params.listJS }}id="listjs-body" {{- end -}}>
  {{ else }}

  <body data-url="{{ .RelPermalink }}" {{ if .Params.listJS }}id="listjs-body" {{- end -}}>
    {{- end -}}

    {{- if .Site.IsServer -}}
    {{ partialCached "navbar-new" . }}
    {{ else }}
    {{ partialCached "navbar" . }}
    {{ end }}

    {{ block "body" . }} {{ block "main" . }} {{- end -}}
    {{- end -}}

    {{ block "footer" . }} {{ partialCached "footer" . }} {{- end -}}

    {{ $feedback := resources.Get "js/was-this-page-helpful.js" }}
    {{ $ga_events := resources.Get "js/g-a-events.min.js" }}
    {{ $js := slice $feedback $ga_events | resources.Concat "js/app.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}" async></script>

  </body>

</html>
