{{ define "main" }}

<header class="container-fluid px-0">
  <div class="container py-md-3">
    <div class="row py-lg-3">
      <div class="col-12 py-4 text-center">
        <h1 class="display-2 font-weight-bold pt-4 mt-5">
          {{- .Title | title -}}
        </h1>
        <h2 class="mt-4 col-12 col-sm-11 mx-auto">
          {{- .Params.description -}}
        </h2>
      </div>
    </div>
  </div>
</header>

<style>
  .col-12:has(.card-components),
  .col-12:has(.card-components-web),
  .col-12:has(.card-mobile),
  .col-12:has(.card-in-field),
  .col-12:has(.card-components-in-field),
  .col-12:has(.card-components-mobile),
  .col-12:has(.card-rich-text-format-editor),
  .col-12:has(.card-web),
  .col-12:has(.card-xr-components) {
    display: none !important;
  }

  .card-blog-brief {
    transition: none !important;
  }
</style>

{{ .Content }}

<main class="my-5 container" id="main">

  <div class="container mb-5">
    {{ if .Params.listJS }}
    <div class="row">
      <div class="col">
        <form class="w-100 mb-2">
          <label for="search" class="sr-only">Search for components</label>
          <div class="input-with-icon-left">
            <input class="form-control form-control-lg w-100 search" id="search" placeholder="Start typing to filter..."
              type="search" autocomplete="off" title="" onkeypress="return event.keyCode!=13">
            <div class="input-icon">
              {{ partial "icons/modus-outlined/search.svg" (dict "class" "text-dark opacity-75 mt-1" "width" "20" "height" "20") }}
            </div>
          </div>
        </form>
      </div>
    </div>
    {{ end }}

    <div class="row list text-dark" id="listjs-list">

      {{ if .Params.componentsWeb }}
      {{ range first 296 (where .Site.Pages ".Section" "components") }}
      {{ if not (in .Params.tags "in-field" ) }}
      {{ if not (in .Params.tags "mobile" ) }}
      {{ if not (in .Params.tags "xr" ) }}
      {{ if not (in .Params.tags "accessibility" ) }}
      {{ if not (in .Params.tags "styles" ) }}
      {{- partial "card-component.html" . -}}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}

      {{ if .Params.componentsInField }}
      {{ range first 296 (where .Site.Pages ".Section" "components") }}
      {{ if not (in .Params.tags "accessibility" ) }}
      {{ if (in .Params.tags "in-field" ) }}
      {{ if not (in .Params.tags "styles" ) }}
      {{- partial "card-component.html" . -}}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}

      {{ if .Params.componentsMobile }}
      {{ range first 296 (where .Site.Pages ".Section" "components") }}
      {{ if not (in .Params.tags "accessibility" ) }}
      {{ if not (in .Params.tags "hidden" ) }}
      {{ if (in .Params.tags "mobile" ) }}
      {{ if not (in .Params.tags "styles" ) }}
      {{- partial "card-component.html" . -}}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}

      {{ if .Params.componentsXR }}
      {{ range first 296 (where .Site.Pages ".Section" "components") }}
      {{ if not (in .Params.tags "accessibility" ) }}
      {{ if not (in .Params.tags "hidden" ) }}
      {{ if (in .Params.tags "xr" ) }}
      {{ if not (in .Params.tags "styles" ) }}
      {{- partial "card-component.html" . -}}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- end }}

    </div>
  </div>

  {{ if .Params.listJS }}
  <script src="/js/list.min.js"></script>
  <script>
    var searchInput = document.querySelector('#listjs-body input#search')
    var filter = new URLSearchParams(window.location.search).get('filter')
    var exampleList = new List('listjs-body', {
      valueNames: ['name', { data: ['tags'] }]
    })

    if (filter !== null) {
      searchInput.value = filter
      exampleList.search(filter)
    }

    exampleList.on('searchComplete', function () {
      var searchTerm = searchInput.value
      var newUrl = new URL(location)

      if (searchTerm.length > 0) {
        newUrl.searchParams.set('filter', searchTerm)
      } else {
        newUrl.searchParams.delete('filter')
      }
      history.replaceState(null, null, newUrl)
    });
  </script>
  {{ end }}
</main>
{{- end -}}
