{{ define "main" }}

<div class="container-fluid">
  <div class="row row-main px-0">
    <div class="col col-auto px-0 collapse collapse-horizontal bg-dark bg-opacity-10 show" id="sidebar">
      <div id="sidebar-menu" class="sticky-top sticky-offset shadow-sm overflow-auto"
        style="min-height: calc(100vh - 66px);max-height: calc(100vh - 66px);">
        {{ partial "col-sidebar-menu" . }}
    </div>
  </div>

    <div class="col col-main border-start p-0" id="main">

      <div class="mx-auto mw-100">

        {{ partial "header" . }}

        <main class="my-5 container mx-auto" style="max-width: 1090px;">
          {{ .Content }}
      <div class="container mb-5">
        <div class="row">
          {{ range first 99 (where .Pages.ByPublishDate.Reverse "Section" "news") }}
          {{- partial "blog-brief.html" . -}}
          {{- end -}}
        </div>
        <div class="mt-4">
          {{- partial "never-miss-an-update.html" . -}}
        </div>
          </div>
        </main>

        <footer class="p-2 footer py-4 bg-dark bg-opacity-10">
          {{ partial "footer" . }}
        </footer>
      </div>
    </div>

  </div>
</div>

{{- end -}}
