{{ define "main" }}

<header class="container-fluid px-0">
  <div class="container py-md-4">
    <div class="row py-lg-4">
      <div class="col-12 py-5 text-center">
        <h1 class="display-1 font-weight-bold" {{ if .Params.TitleNoTranslate }}translate="no" {{- end -}}>
          {{- .Title | title -}}
        </h1>
        <h2 class="h1 mt-4">
          {{- .Description -}}
        </h2>
      </div>
    </div>
  </div>
</header>

<main class="my-5 container">

  <div class="row">
    <div class="col-12 col-sm-2">
      {{ partial "menu-left.html" . }}
    </div>
    <div class="col-12 col-sm-10 col-md-8">

      <article id="main">
        {{- .Content -}}
      </article>
    </div>

    {{ if and (gt .WordCount 350 ) (not .Params.hideToc) }}
    <div class="col-12 col-sm-2 d-none d-xl-block">
      {{ partial "menu-right.html" . }}
    </div>
    {{- end -}}
</main>

{{- end -}}
