{{- define "main" }}

<!-- https://www.codeply.com/p/NbvlptiZCf -->

<div class="container-fluid">
  <div class="row row-main px-0">

    <div class="col-1 col-sidebar px-0 bg-body shadow-sm d-print-none">
      {{ partial "col-sidebar" . }}
    </div>

    <div class="col col-menu col-auto px-0 collapse collapse-horizontal bg-dark bg-opacity-10 d-print-none"
      id="sidebar">
      <div id="sidebar-menu" class="sticky-top sticky-offset shadow-sm overflow-auto overflow-x-hidden">
        {{ partial "col-sidebar-menu" . }}
      </div>
    </div>

    <div class="col col-auto col-12 col-main border-start p-0">

      {{ partial "header" . }}

      <main class="container mx-auto mt-5" style="max-width: 1090px;">
        <div class="row">
          <div class="col-12 col-xl-9">
            {{ if .Params.blog }}
            <h1 class="ps-2 ps-sm-3 display-3 mb-3 {{ if .Params.DoNotTranslateTitle }} notranslate{{- end -}}">
              {{- .Title | title -}}
            </h1>
            <div class="d-flex">
              <div class="mx-3">
                <img src="/img/author/{{- .Params.author | urlize -}}.jpg"
                  class="bg-light rounded-circle mx-auto text-center border" height="44" width="44"
                  alt="{{ .Params.author }}">
              </div>
              <div>
                <div class="text-body fw-bold">
                  {{- .Params.author -}}
                </div>
                <div class="text-body mb-3 opacity-75">
                  <span>Posted on</span>
                  {{ .Date.Format "Jan 2, 2006" -}}
                </div>
              </div>
            </div>
            {{ end }}

            {{ if and (gt .WordCount 8350 ) (not .Params.hideToc) }}
            <details class="mb-3 d-print-none d-xl-none">
              <summary class="mb-1 user-select-none">Contents</summary>
              {{ .TableOfContents }}
            </details>
            {{- end -}}
            <article class="ps-2 ps-sm-3">
              {{ .Content }}

              {{- if .Params.figmaURL -}}
              <iframe class="w-100 iframe-figma rounded border-0" width="800" height="450" style="min-height: 80vh;"
                src="https://www.figma.com/embed?embed_host=share&url={{- .Params.figmaURL -}}"
                allowfullscreen></iframe>
              {{ end }}

            </article>

            <div class="row">
              <div class="col-6">
                <div class="feedback-center">
                  <!-- {{ partial "was-this-page-helpful.html" . }} -->
                </div>
              </div>
              <div class="col-6">
                {{- if not .Params.blog -}}
                <a class="btn btn-sm btn-outline-secondary mt-5 float-end d-print-none"
                  href="https://github.com/trimble-oss/website-modus.trimble.com/tree/main/content/{{ .Page.File.Path | replaceRE `\\` "/" }}"
                  title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub</a>
                {{ end }}
                {{- if .Params.blog -}}
                {{ partial "blog-share" . }}
                {{ end }}
              </div>
            </div>
            <footer class="mb-4 pt-0">
              <!-- this displays date that markdown file was last committed to Git -->
              {{- if not .Params.hideDate -}}
              {{- if ne .Lastmod .Date -}}
              {{- if not .Params.blog -}}
              <div class="text-secondary small"><em>
                  Last updated {{ .Lastmod.Format "January 2, 2006" }}.
                </em></div>
              {{- end -}}
              {{- end -}}
              {{- end -}}

              {{ if .Params.contributors }}
              <div class="text-secondary small mt-2">
                Contributors: {{ .Params.contributors }}
              </div>
              {{- end -}}

              {{ if .Params.blog }}

              {{ partial "related-content" . }}
              {{ end }}

            </footer>
          </div>
          <div class="col-12 col-xl-3 menu-right">
            {{ partial "menu-right" . }}
          </div>
        </div>

      </main>

      <footer class="p-2 footer py-4 bg-secondary bg-opacity-10 d-print-none">
        {{ partial "footer" . }}
      </footer>
    </div>

  </div>
</div>

{{ if .Params.popoverCSSInspector }}
<script src="/js/popover-css-inspector.min.js" defer></script>
<style>
  .popover {
    z-index: 0;
  }
</style>
{{ end }}

{{ if not .IsHome }}
{{ if not .Params.disableAnatomy }}
{{- $anatomyJs := resources.Get "js/anatomy.js" | resources.Minify -}}
<script src="{{ $anatomyJs.RelPermalink }}"></script>
{{- end -}}
{{- end -}}
{{- end -}}
