{{- define "main" }}

<header class="container-fluid px-0 pt-5 pt-md-1">
  <div class="container py-md-3 pt-4">
    <div class="row py-lg-3">
      <div class="col-12 py-4 text-center">
        <h1 class="display-2 font-weight-bold pt-4 mt-5 {{ if .Params.DoNotTranslateTitle }} notranslate{{- end -}}">
          {{- .Title | title -}}
        </h1>
        <h2 class="mt-4 col-12 col-sm-11 mx-auto">
          {{- .Params.description -}}
        </h2>
      </div>
    </div>
  </div>
</header>

<main class="my-5 container">

  <div class="row">

    <div class="col-12 col-md-3 col-lg-2 menu-left">
      {{ partial "menu-left.html" . }}
    </div>
    <div class="col-12 col-xl-2 d-none d-print-none d-xl-block menu-right pr-2 order-last">
      {{ partial "menu-right.html" . }}
    </div>

    <div class="col-12 col-md-9 col-lg-10 col-xl-8 mx-auto">
      {{ if .Params.lead }}
      <p class="lead">
        {{- .Params.lead -}}
      </p>
      {{- end -}}

      <article class="pr-3 mt-2" id="main">
        {{ if in .Params.tags "in-field" }}
        <ul class="nav nav-tabs mb-3 w-100 mt-n2">
          <li class="nav-item">
            <a class="nav-link px-3 nav-usage text-decoration-none{{ if in .Params.tags "usage" }} active pe-none{{end}}"
              href="/components/in-field/{{ with .Params.component }}{{ . | lower }}{{- end -}}/">
              Usage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 nav-styles text-decoration-none{{ if in .Params.tags "styles" }} active pe-none{{end}}"
              href="/components/in-field/{{ with .Params.component }}{{ . | lower }}{{- end -}}/styles/">
              {{ partial "icons/modus-solid/palette.svg" (dict "class" "mr-2 opacity-75" "width" "18" "height" "18") }}
              Styles</a>
          </li>
          {{ if not (in .Params.tags "in-field" ) }}
          <li class="nav-item">
            <a class="nav-link px-3 nav-code text-decoration-none{{ if in .Params.tags "code" }} active pe-none{{end}}"
              id="nav-link-code"
              href="{{.Site.BaseURL}}{{.Section}}/in-field/{{- with .Params.component -}}{{- . | lower -}}{{- end -}}/code/">
              <svg width="18" height="18" class="mr-2 opacity-75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="currentColor"
                  d="M234.8 511.7L196 500.4c-4.2-1.2-6.7-5.7-5.5-9.9L331.3 5.8c1.2-4.2 5.7-6.7 9.9-5.5L380 11.6c4.2 1.2 6.7 5.7 5.5 9.9L244.7 506.2c-1.2 4.3-5.6 6.7-9.9 5.5zm-83.2-121.1l27.2-29c3.1-3.3 2.8-8.5-.5-11.5L72.2 256l106.1-94.1c3.4-3 3.6-8.2.5-11.5l-27.2-29c-3-3.2-8.1-3.4-11.3-.4L2.5 250.2c-3.4 3.2-3.4 8.5 0 11.7L140.3 391c3.2 3 8.2 2.8 11.3-.4zm284.1.4l137.7-129.1c3.4-3.2 3.4-8.5 0-11.7L435.7 121c-3.2-3-8.3-2.9-11.3.4l-27.2 29c-3.1 3.3-2.8 8.5.5 11.5L503.8 256l-106.1 94.1c-3.4 3-3.6 8.2-.5 11.5l27.2 29c3.1 3.2 8.1 3.4 11.3.4z">
                </path>
              </svg> Code</a>
          </li>
          {{ end }}
          {{ if not (in .Params.tags "hide-accessibility" ) }}
          <li class="nav-item">
            <a class="nav-link px-3 nav-accessibility text-decoration-none{{ if in .Params.tags "accessibility" }} active pe-none{{end}}"
              href="/components/in-field/{{- with .Params.component -}}{{- . | lower -}}{{- end -}}/accessibility/">
              {{ partial "icons/fa/solid/universal-access.svg" (dict "class" "mr-2 opacity-75" "width" "18" "height" "18") }}
              Accessibility</a>
              </li>
              {{ end }}

          {{ else if .Params.componentsWeb }}

          <ul class="nav nav-tabs mb-3 w-100 mt-n2">
            <li class="nav-item">
              <a class="nav-link px-3 nav-usage text-decoration-none{{ if in .Params.tags "usage" }} active pe-none{{end}}"
                href="/components/web/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/">
                Usage</a>
            </li>
            {{ if not (in .Params.tags "hide-styles" ) }}
            <li class="nav-item">
              <a class="nav-link px-3 nav-styles text-decoration-none{{ if in .Params.tags "styles" }} active pe-none{{end}}"
                href="/components/web/{{- with .Title -}}{{- . | lower | urlize }}{{- end -}}/styles/">
                {{ partial "icons/modus-solid/palette.svg" (dict "class" "mr-2 opacity-75" "width" "18" "height" "18") }}
                Styles</a>
            </li>
            {{ end }}
            {{ if not (in .Params.tags "hide-accessibility" ) }}
            <li class="nav-item">
              <a class="nav-link px-3 nav-accessibility text-decoration-none{{ if in .Params.tags "accessibility" }} active pe-none{{end}}"
                href="/components/web/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/accessibility/">
                {{ partial "icons/fa/solid/universal-access.svg" (dict "class" "mr-2 opacity-75" "width" "18" "height" "18") }}
                Accessibility</a>
                </li>
                {{ end }}
                {{ end }}

                {{ if (in .Params.tags "mobile" ) }}

                <ul class="nav nav-tabs mb-3 w-100 mt-n2">
                  <li class="nav-item">
                    <a class="nav-link px-3 nav-usage text-decoration-none{{ if in .Params.tags "usage" }} active pe-none{{end}}"
                      href="/components/mobile/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/">
                      Usage</a>
                  </li>
                  {{ if not (in .Params.tags "hide-styles" ) }}
                  <li class="nav-item">
                    <a class="nav-link px-3 nav-styles text-decoration-none{{ if in .Params.tags "styles" }} active pe-none{{end}}"
                      href="/components/mobile/{{- with .Title -}}{{- . | lower | urlize }}{{- end -}}/styles/">
                      {{ partial "icons/modus-solid/palette.svg" (dict "class" "mr-2 opacity-75" "width" "18" "height" "18") }}
                      Styles</a>
                  </li>
                  {{ end }}
                  {{ if not (in .Params.tags "hide-accessibility" ) }}
                  <li class="nav-item">
                    <a class="nav-link px-3 nav-accessibility text-decoration-none{{ if in .Params.tags "accessibility" }} active pe-none{{end}}"
                      href="/components/mobile/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/accessibility/">
                      {{ partial "icons/fa/solid/universal-access.svg" (dict "class" "mr-2 opacity-75" "width" "18" "height" "18") }}
                      Accessibility</a>
                  </li>
                  {{ end }}
                  {{ end }}
        </ul>

        {{ if and (gt .WordCount 9350 ) (not .Params.hideToc) }}
        <details class="mb-3 d-print-none d-xl-none">
          <summary class="mb-1 user-select-none">Contents</summary>
          {{ .TableOfContents }}
        </details>
        {{- end -}}

        {{ if .Params.displayBlogPosts }}
        <div class="mx-n3 px-n4">
          {{ partial "index/list-blog-brief.html" . }}
        </div>
        {{- end -}}

        {{ .Content }}

        <div class="row">
          <div class="col-6">
          <div class="feedback-center">
            {{ partial "was-this-page-helpful.html" . }}
          </div>
          </div>
          <div class="col-6">
            <a class="btn btn-sm btn-outline-dark mt-5 text-dark float-right"
              href="https://github.com/trimble-oss/website-modus.trimble.com/tree/main/content/{{ .Page.File.Path | replaceRE `\\` "/" }}"
              title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub</a>
          </div>
        </div>

        <footer class="mt-4 pt-3">
          <!-- this displays date that markdown file was last committed to Git -->
          {{- if not .Params.hideDate -}}
          {{- if ne .Lastmod .Date -}}
          <div class="text-secondary small"><em>
              Last updated {{ .Lastmod.Format "January 2, 2006" }}.
            </em></div>
          {{- end -}}
          {{- end -}}

          {{ if .Params.contributors }}
          <div class="text-secondary small mt-2">
            Contributors: {{ .Params.contributors }}
          </div>
          {{- end -}}

        </footer>
      </article>
    </div>
  </div>

</main>

{{- $anatomy := resources.Get "js/anatomy.js" -}}
{{- $anatomyJs := slice $anatomy | resources.Concat "js/anatomy.js" | resources.Minify -}}
<script src="{{ $anatomyJs.RelPermalink }}"></script>

{{- end -}}
