{{- define "main" }}

<header class="container-fluid px-0 pt-5 pt-md-1">
  <div class="container py-md-3 pt-4">
    <div class="row py-lg-3">
      <div class="col-12 py-4 text-center">
        <h1 class="display-2 font-weight-bold pt-4 mt-5 text-white">
          {{- .Title | title -}}
        </h1>
        <h2 class="mt-4 col-12 col-sm-11 mx-auto text-white">
          {{- .Params.description -}}
        </h2>
      </div>
    </div>
  </div>
</header>

<main role="main" class="my-5 container">

  <div class="row">

    <div class="col-12 col-md-3 col-lg-2 menu-left">
      {{ partial "menu-left.html" . }}
    </div>
    <div class="col-12 col-xl-2 d-none d-xl-block menu-right order-last">
      {{ if and (gt .WordCount 350 ) (not .Params.hideToc) }}
      {{ partial "menu-right.html" . }}
      {{- end -}}
    </div>

    <div class="col-12 col-md-9 col-lg-10 col-xl-8 mx-auto">
      {{ if .Params.lead }}
      <p class="lead">
        {{ .Params.lead }}
      </p>
      {{- end -}}

      <article class="pr-3 mt-2" id="main">
        {{ if and (gt .WordCount 9350 ) (not .Params.hideToc) }}
        <details class="mb-3 d-print-none d-xl-none">
          <summary class="mb-1 user-select-none">Contents</summary>
          {{ .TableOfContents }}
        </details>
        {{- end -}}

        {{- .Content -}}

        {{ if .Params.displayBlogPosts }}
        <div class="mx-n3 px-n4">
          {{ partial "index/list-blog-brief.html" . }}
        </div>
        <div>
          {{- partial "never-miss-an-update.html" . -}}
        </div>
        {{- end -}}


        <footer class="mt-4 pt-3">

          <!-- this displays date that markdown file was last committed to Git -->
          {{- if not .Params.hideDate -}}
          {{- if ne .Lastmod .Date -}}
          <span class="text-secondary small"><i>
              Last updated {{ .Page.Lastmod.Month }} {{ .Page.Lastmod.Day }}, {{ .Page.Lastmod.Year }}.
            </i></span>
          {{- end -}}
          {{- end -}}

          {{ if .Params.contributors }}
          <div class="text-secondary small mt-2">
            Contributors: {{ .Params.contributors }}
          </div>
          {{- end -}}

        </footer>
      </article>
    </div>

</main>

{{- $anatomy := resources.Get "js/anatomy.js" -}}
{{- $anatomyJs := slice $anatomy | resources.Concat "js/anatomy.js" | resources.Minify -}}
<script src="{{ $anatomyJs.RelPermalink }}"></script>

{{- end -}}
