@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
  .menu-left .sticky-top {
    border-bottom: 0 !important;
  }
}

.menu-left a:hover {
  color: #00437b;
}

.menu-left a.active {
  font-weight: bold;
}
