header.container-fluid {
  background-color: #206aa5;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1441 334' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%2307599B' d='M0 0h1440v332H0z'/%3E%3Cpath fill='%2300437B' d='M0 334V0h886z'/%3E%3Cpath fill='%23197CB6' d='M1437.605 245l3.395 87H615z'/%3E%3C/g%3E%3C/svg%3E");
}

// anchors # for deep links within docs
.header-link {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link {
  opacity: 0.6;
  pointer-events: visible;
  transition: 0.3s all;
}

// title of article shouldn't have margin-top
#main h2.h1:first-of-type {
  margin-top: 0 !important;
}

/* stylelint-disable-next-line rule */
article p,
article td,
article th,
article li {
 // font-size: 1rem;
}

//external links have an icon
article a:not(.stretched-link)[href^="http"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#0c77be' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

td.do {
  border-top: 2px solid #4a821f !important;
}

td.dont {
  border-top: 2px solid #c81922 !important;
}

.sticky-offset {
  top: 80px;
}

// offsets the anchors to adjust for the fixed navbar
article h2:target::before,
article h3:target::before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#main::before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
  top: 80px;
}

.table th {
  background-color: #d0d0d7;
}
