/*! purgecss start ignore */
.autocomplete-suggestions {
  cursor: default;
  border: 1px solid #cbcdd6;
  border-top: 0;
  background-color: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none;
  z-index: 33333; // higher than navbar
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

[data-theme="dark"] {
  .autocomplete-suggestions {
    background-color: black;
    color: #f1f1f1 !important;
  }

  .autocomplete-suggestion {
    color: #cbcdd6;
  }
}

.autocomplete-suggestion {
  position: relative;
  cursor: pointer;
  padding: 7px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #353a40;
}

.autocomplete-suggestion b {
  font-weight: 400;
  color: #1f8dd6;
}

.autocomplete-suggestion.selected {
  background-color: #353a40;
  color: #f1f1f1;
}

.autocomplete-suggestion:hover {
  background-color: #464b52;
  color: #f1f1f1;
}

.autocomplete-suggestion > .context {
  font-size: 12px;
  color: #7d808d;
}

.autocomplete-suggestion.selected > .context {
  color: #b7b9c3;
}

/*! purgecss end ignore */
