.card-blog-brief {
  transition: 0.2s ease-in-out;
  min-height: 140px;
}

.card-blog-brief:hover {
  box-shadow: 0 0 8px rgba(48, 60, 68, 0.4) !important;
  transition: 0.2s ease-in-out;
}

.card-blog-brief .card-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 129px;
}

.card-blog-brief .card-body .stretched-link {
  min-height: 44px;
}

.bg-adobe-xd {
  background-color: #ff26be !important;
}

.bg-figma {
  background-color: #f24e1e !important;
}

.bg-sketch {
  background-color: #f7b500 !important;
}

.bg-react {
  background-color: #61dafb !important;
}

.bg-web-components {
  background-color: #ff5c03 !important;
}

.bg-adobe-xd img,
.bg-figma img,
.bg-sketch img {
  opacity: 0.9;
  filter: invert(1);
}

body[data-url="/community/contribute/"] .card-blog-brief {
  min-height: 306px;
}

body[data-url="/community/contribute/"] .card-blog-brief h3 {
  font-size: 0.98rem;
}

[data-theme="dark"] .card {
  background-color: #171c1e !important;
}
