.color-preview {
  padding: 1px;
  display: inline-block;
  max-height: 20px;
}

.color-preview .color {
  padding-left: 2px;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-top;
}

.color-preview .text-monospace {
  letter-spacing: 1.1px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

[data-theme="dark"] .color-preview {
  box-shadow: 0 0 2px rgba(222, 222, 222, 0.3) !important;
}
