.color-preview {
  padding: 1px;
  border-radius: 19px;
  display: inline-block;
  border: 1px solid #6a6e79;
  max-height: 20px;
}

.color-preview .color {
  border-radius: 19px;
  border: 1px solid #6a6e79;
  display: inline-block;
  forced-color-adjust: none;
  height: 20px;
  margin-left: -1px;
  margin-top: -2px;
  padding-left: 0;
  vertical-align: text-top;
  width: 20px;
}

.color-preview .text-monospace {
  letter-spacing: 1.1px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  color: #c37;
}

[data-bs-theme="dark"] .color-preview {
  box-shadow: 0 0 2px rgba(222, 222, 222, 0.3) !important;
}

[data-bs-theme="dark"] .color-preview .text-monospace {
  filter: brightness(3);
}
