//
// Grid examples
//

.bd-example-row {
  .row {
    > .col,
    > [class^="col-"] {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      background-color: rgba(39, 41, 43, 0.03);
      border: 1px solid rgba(39, 41, 43, 0.1);
    }
  }

  .row + .row {
    margin-top: 1rem;
  }
}

.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, 0.1);
}

// Grid mixins
.example-container {
  width: 800px;
}

//
// Docs examples
//

.bd-example {
  position: relative;
  padding: 1rem;
  border: solid $gray-300;
  border-width: 1px 0 0;

  + p {
    margin-top: 2rem;
  }

  > .form-control {
    + .form-control {
      margin-top: 0.5rem;
    }
  }

  > .nav + .nav,
  > .alert + .alert,
  > .navbar + .navbar,
  > .progress + .progress {
    margin-top: 1rem;
  }

  > .dropdown-menu {
    position: static;
    display: block;
  }

  > :last-child {
    margin-bottom: 0;
  }

  // Images
  > svg + svg,
  > img + img {
    margin-left: 0.5rem;
  }

  // Buttons
  > .btn,
  > .btn-group {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  > .btn-toolbar + .btn-toolbar {
    margin-top: 0.5rem;
  }

  // List groups
  > .list-group {
    max-width: 400px;
  }

  > [class*="list-group-horizontal"] {
    max-width: 100%;
  }

  // Navbars
  .fixed-top,
  .sticky-top {
    position: static;
    margin: -1rem -1rem 1rem;
  }

  .fixed-bottom {
    position: static;
    margin: 1rem -1rem -1rem;
  }

  // Pagination
  .pagination {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.bd-example-modal {
  background-color: #fafafa;

  .modal {
    position: static;
    display: block;
  }
}

// Tooltips
.tooltip-demo a {
  white-space: nowrap;
}

// Scrollspy demo on fixed height div
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 0.5rem;
  overflow: auto;
}

.scrollspy-example-2 {
  position: relative;
  height: 350px;
  overflow: auto;
}

.bd-example-border-utils {
  [class^="border"] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0.25rem;
    background-color: #f5f5f5;
  }
}

.bd-example-border-utils-0 {
  [class^="border"] {
    border: 1px solid;
  }
}

.bd-example-rounded-utils {
  [class*="rounded"] {
    margin: 0.25rem;
  }
}

//
// Code snippets
//

.highlight {
  padding: 1rem;
  background-color: $gray-100;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
  }

  pre code {
    color: $gray-900;
  }
}
