.footer {
  background-size: cover;
  background-position: center;
  content-visibility: auto; /* stylelint-disable-line */
  contain-intrinsic-size: 333px; /* stylelint-disable-line */
  font-size: 14px;
  min-height: 333px;
  color: #fff !important;
}

.footer p {
  font-size: 14px !important;
}

.footer h5,
.footer .h5 {
  color: #fff;
}

.footer a {
  color: #fff !important;
  text-decoration: underline;
}
