.no-js input,
.no-js a[data-toggle] {
  pointer-events: none !important;
  opacity: 0.65;
}

.no-js nav.navbar {
  margin-top: 26px;
}

.no-js body::before {
  height: 32px;
  background-color: #eaeaef;
  text-align: center;
  content: "⚠️ JavaScript is disabled. This site requires JavaScript to be enabled ⚠️";
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
