@media (scripting: none) {
  a[data-bs-toggle],
  button[data-bs-toggle] {
    pointer-events: none !important;
    opacity: 0.6;
  }

  nav.navbar {
    margin-top: 26px;
  }

  .row-main::before {
    height: 32px;
    background-color: #e0e1e9;
    text-align: center;
    content: "⚠️ JavaScript is disabled. This site requires JavaScript to be enabled";
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
