.list:empty::before {
  display: block;
  width: 100%;
  padding: 100px 2rem;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  content: "Nothing found, try searching again.";
  background-color: rgba(133, 133, 133, 0.1);
  border-radius: 0.5rem;
}

[data-theme="dark"] {
  .list:empty::before {
    color: #f1f1f1;
  }
}

[data-theme="light"] {
  .list:empty::before {
    color: #464b52;
  }
}

#icons-list {
  min-height: 300px;
}
