@media (min-width: 768px) {
  #docs-nav {
    display: block !important;
  }

  .menu-left .sticky-top {
    border-bottom: 0 !important;
  }

  .sticky-offset {
    overflow-y: auto;
    max-height: 90vh;
  }
}

.menu-left a {
  color: #171c1e;
}

[data-theme="dark"] {
  .menu-left a {
    color: #f1f1f1;
  }
}

[data-theme="light"] {
  .menu-left a:hover {
    color: #00437b;
  }
}

.menu-left a.active {
  font-weight: bold;
}

body[data-url^="/news/"] .menu-left a[href^="/news/"] {
  font-weight: bold;
}

.menu-left,
.search-docs-toggle {
  z-index: 2222;
}
