#TableOfContents ul,
#TableOfContents li {
  list-style: none;
  padding-left: 0;
}

#TableOfContents ul ul,
#TableOfContents ul ul li {
  list-style: none;
  text-indent: 10px;
}

// right menu
#TableOfContents li a {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 13px;
  border-left: 1px solid transparent;
}

.menu-right a {
  font-size: 13px;
  color: #171c1e;
}

[data-theme="dark"] {
  .menu-right a {
    color: #f1f1f1;
  }
}

hr {
  opacity: 0.4;
}

.menu-right a[href^="http"]::after {
  filter: saturate(0%);
}

[data-theme="light"] {
  #TableOfContents li a:hover {
    color: #00437b;
  }
}

.menu-right #TableOfContents li.active,
.menu-right #TableOfContents li a:hover {
  border-left: 1px solid #d0d0d7;
}

// scrollspy color
.menu-right #TableOfContents li .active {
  color: #000 !important;
  border-left: 1px solid #0d6aa8 !important;
}
