#TableOfContents ul,
#TableOfContents li {
  list-style: none;
  padding-left: 0;
}

#TableOfContents ul ul,
#TableOfContents ul ul li {
  list-style: none;
  text-indent: 10px;
}

// right menu
#TableOfContents li a {
  color: #fff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 13px;
  border-left: 1px solid transparent;
}

#TableOfContents li a:hover {
  color: #00437b;
}

.menu-right #TableOfContents li.active,
.menu-right #TableOfContents li a:hover {
  border-left: 1px solid #d0d0d7;
}

// scrollspy color
.menu-right #TableOfContents li .active {
  color: #000 !important;
  border-left: 1px solid #0d6aa8 !important;
}
