#TableOfContents ul,
#TableOfContents li {
  list-style: none;
  padding-left: 2px;
}

// right menu
#TableOfContents li a {
  color: #6a6976;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  border-left: 1px solid transparent;
}

#TableOfContents li a:hover {
  color: #00437b;
}

.menu-right #TableOfContents li.active,
.menu-right #TableOfContents li a:hover {
  border-left: 1px solid #d3d3d3;
}

// scrollspy color
.menu-right #TableOfContents li .active {
  color: black !important;
  border-left: 1px solid #0d6aa8 !important;
}
