@font-face {
  font-family: "modus-icons"; /* stylelint-disable-line */
  src: url("https://modus.trimble.com/assets/0.5.1/fonts/modus-icons.woff2?50783e4f41ce4a8b1c9426e5c9375829") format("woff2"), url("https://modus.trimble.com/assets/0.5.1/fonts/modus-icons.woff?50783e4f41ce4a8b1c9426e5c9375829") format("woff");
}

.modus-icons {
  font-family: "modus-icons"; /* stylelint-disable-line */
  font-weight: normal;
  font-display: block;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; /* stylelint-disable-line */
  -moz-osx-font-smoothing: grayscale;
}
