.search-container {
  width: 40px;
  left: -12px;
}

.form-control-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%236a6e79' viewBox='0 0 24 24'%3E%3Cpath d='m16.38 14.92-.66.05-.41-.41c2.44-2.81 2.28-7.1-.5-9.7S7.8 2.4 5.17 4.94a6.988 6.988 0 0 0-.08 9.98c2.61 2.61 6.77 2.72 9.52.34l.41.41-.05.65 3.89 3.89a.996.996 0 1 0 1.41-1.41l-3.88-3.88Zm-2.81-1.41a5.016 5.016 0 0 1-7.08 0c-1.95-1.95-1.95-5.13 0-7.08s5.13-1.95 7.08 0 1.95 5.13 0 7.08Z'/%3E%3C/svg%3E");
  background-position: 5px center;
  background-repeat: no-repeat;
  border-left: 0;
  border-right: 0;
  padding: 0;
  width: 0 !important;
  z-index: 1210;
  transition: all 0.2s;
  left: auto;
  top: 10px;
  right: 5px;
}

.form-control-search:focus {
  width: 363px !important;
  max-width: calc(100vw - 200px);
  text-indent: 18px;
  padding: 0 4px 4px 16px;
  visibility: visible;
}

.form-control-search:focus + .btn-search {
  transition: all 1s;
  background-color: transparent;
  pointer-events: none !important;
}

.form-control-search:focus + .btn-search img {
  opacity: 0;
}

.btn-search {
  top: 0;
}

.btn-search i {
  margin-top: 18px;
}

[data-bs-theme="dark"] .form-control-search {
  background-image: url("/img/icons/search-white.svg") !important;
}

[data-bs-theme="dark"] .btn-search img {
  filter: invert(1);
}
