.navbar-main {
  color: #fff !important;
}

.navbar-main a {
  color: #fff !important;
  font-weight: 600;
  font-size: 14px !important;
}

.navbar-main a:focus {
  outline-color: #fff !important;
}

.navbar-main .nav-item {
  outline-color: #fff !important;
}

.navbar .form-control {
  font-size: 14px;
}

.fixed-top {
  z-index: 13046;
}

// 'frosted glass' effect on top navbar
.fixed-top .navbar {
  backdrop-filter: blur(6px);
  z-index: 11111; // prevents overlapping navbar on mobile as scroll past
}

a.navbar-brand,
a.navbar-brand:hover {
  color: #fff !important;
}

// sets underline on top navbar on selected section

/*! purgecss start ignore */
body[data-url^="/designers/"] .navbar-nav li a[href^="/start/"],
body[data-url^="/developers/"] .navbar-nav li a[href^="/start/"],
body[data-url^="/device-support/"] .navbar-nav li a[href^="/start/"],
body[data-url^="/start/"] .navbar-nav li a[href^="/start/"],
body[data-url^="/status/"] .navbar-nav li a[href^="/start/"],
body[data-url^="/whats-new/"] .navbar-nav li a[href^="/start/"],
body[data-url^="/foundations/"] .navbar-nav li a[href^="/foundations/"],
body[data-url^="/components/"] .navbar-nav li a[href^="/components/"],
body[data-url^="/community/"] .navbar-nav li a[href^="/community/"],
body[data-url^="/news/"] .navbar-nav li a[href^="/community/"] {
  border-bottom: 2px solid #fff;
}

/*! purgecss end ignore */

.navbar .dropdown-menu a {
  border: 0;
}

.navbar .dropdown-menu.bg-white:focus,
.navbar .dropdown-menu.bg-white:hover {
  background-color: #fff !important;
}

.navbar-nav li a {
  border-bottom: 2px solid transparent;
  color: #00437b;
}

.navbar-nav li a:hover {
  border-bottom: 2px solid #90939f;
}

.navbar-main .dropdown-item {
  min-width: 290px;
  max-width: 320px;
  white-space: inherit !important;
}

.navbar-main .dropdown-item-title {
  font-size: 16px !important;
  font-weight: 600;
}

[data-theme="dark"] .navbar-main .dropdown-item img {
  filter: invert(1);
}

[data-theme="dark"] .navbar-main .dropdown-item .text-muted {
  color: #cbcdd6 !important;
}
