html[data-bs-theme="dark"] {
  .dropdown-menu img {
    filter: invert(1);
  }
}

nav.navbar-blue .dropdown-menu {
  min-width: 250px;
  z-index: 1030;
}

nav.navbar-blue label.btn:focus-visible,
nav.navbar-blue button.btn:focus-visible {
  border: 1px solid #fff !important;
}

nav.navbar-blue label.btn:hover,
nav.navbar-blue button.btn:hover {
  background-color: #217cbb !important;
  border: 1px solid #019aeb !important;
}

nav.navbar-blue button.btn:active {
  background-color: #019aeb !important;
  border: 1px solid #019aeb !important;
}

[data-bs-theme="light"] nav.navbar label.btn:hover,
[data-bs-theme="light"] nav.navbar button.btn:hover {
  background-color: rgba(37, 42, 46, 0.2);
}

[data-bs-theme="dark"] nav.navbar label.btn:hover,
[data-bs-theme="dark"] nav.navbar button.btn:hover {
  background-color: rgba(241, 241, 246, 0.2);
}
