/* Cookies title */
#ot-pc-desc,
#ot-pc-title,
#onetrust-policy-title,
#onetrust-policy-text {
  color: #252a2e !important;
}

#onetrust-policy-text {
  color: #252a2e !important;
  font-size: 14px !important;
}

/** Accept All Cookies button **/
.onetrust-close-btn-handler,
#accept-recommended-btn-handler,
#onetrust-accept-btn-handler {
  background-color: #0063a3 !important;
  border-color: #0063a3 !important;
  padding: .1875rem 1rem;
  font-size: .8rem !important;
  font-weight: 600 !important;
  user-select: none !important;
}

/** 'Cookie Settings' button **/
#onetrust-pc-btn-handler {
  color: #0063a3 !important;
  border: 1px solid #0063a3 !important;
  font-size: .8rem !important;
  font-weight: 600 !important;
  // padding: .1875rem 1rem;
  text-decoration: none !important;
}

#cookie-policy-description,
.ot-sdk-cookie-policy-group-desc,
#optanon-cookie-policy,
#optanon-cookie-policy h3,
#optanon-cookie-policy h4,
#optanon-cookie-policy > p,
#optanon-cookie-policy > * > p,
#optanon-cookie-policy > div {
  color: #252a2e !important;
}

.ot-table-header {
  position: static !important;
  border-bottom-width: 2px !important;
}

#ot-sdk-cookie-policy-v2 table,
.optanon-cookie-policy-subgroup-table {
  border: 1px solid #b7b9c3;
  border-radius: 0 !important;
}

.optanon-cookie-policy-subgroup-table tr th {
  background-color: #f1f1f6 !important;
  color: #252a2e !important;
  padding-bottom: 0 !important;
  padding-top: 1rem !important;
  font-weight: 600 !important;
  border-top: 1px solid #b7b9c3;
}
.ot-pc-footer-logo a {
  opacity: .7;
}

/** prefrence center modal **/
#ot-pc-desc {
  font-size: 14px !important;
}

#ot-pc-content {
  color: #252a2e !important;
}
.ot-pc-logo {
  opacity: 0;
}

#onetrust-pc-sdk .ot-tgl input:checked+.ot-switch .ot-switch-nob {
  border-color: #0063a3 !important;
}

#onetrust-pc-sdk .ot-tgl input:checked+.ot-switch .ot-switch-nob:before {
  background-color: #0063a3 !important;
}

#onetrust-pc-sdk .ot-cat-grp .ot-always-active {
  color: #0063a3 !important;
}

.ot-acc-txt,
.ot-acc-txt p {
  color: #252a2e !important;
  background-color: #f1f1f6 !important;
}
