/* Cookies title */
#ot-pc-desc,
#ot-pc-title,
#onetrust-policy-title,
#onetrust-policy-text {
  color: #252a2e !important;
}

#onetrust-policy-text {
  font-size: 14px !important;
}

/** Accept All Cookies button **/
.onetrust-close-btn-handler,
#accept-recommended-btn-handler,
#onetrust-accept-btn-handler {
  background-color: #0063a3 !important;
  border-color: #0063a3 !important;
  padding: 0.1875rem 1rem !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  user-select: none !important;
  line-height: 1.75 !important;
  text-transform: lowercase !important;
}

/** 'Cookie Settings' button **/
#onetrust-pc-btn-handler {
  color: #0063a3 !important;
  border: 1px solid #0063a3 !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  padding: 0.1875rem 1rem !important;
  user-select: none !important;
  line-height: 1.75 !important;
  text-decoration: none !important;
  text-transform: lowercase !important;
}

/** capitalize first letter of button **/
.cookie-setting-link::first-letter,
#onetrust-pc-btn-handler::first-letter,
#onetrust-pc-sdk .button-theme::first-letter,
.onetrust-close-btn-handler::first-letter,
#accept-recommended-btn-handler::first-letter,
#onetrust-accept-btn-handler::first-letter {
  text-transform: uppercase !important;
}

#ot-sdk-cookie-policy {
  min-height: 820px;
}

.onetrust-close-btn-ui {
  background-color: transparent !important;
}

#onetrust-banner-sdk.otFlat { /* stylelint-disable-line */
  max-width: 998px;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow-y: hidden !important;
}

/** cookie settings button **/
.optanon-show-settings {
  text-transform: lowercase;
}

.optanon-show-settings::first-letter {
  text-transform: uppercase;
}

.ot-sdk-cookie-policy-group-desc,
#ot-sdk-cookie-policy-v2,
#cookie-policy-description,
#optanon-cookie-policy,
#optanon-cookie-policy h3,
#optanon-cookie-policy h4,
#optanon-cookie-policy > p,
#optanon-cookie-policy > * > p,
#optanon-cookie-policy table td,
#optanon-cookie-policy table td span,
#optanon-cookie-policy > div {
  color: #252a2e !important;
}

.ot-table-header {
  position: static !important;
  border-bottom-width: 2px !important;
}

#ot-sdk-cookie-policy-v2 table,
.optanon-cookie-policy-subgroup-table {
  border: 1px solid #b7b9c3;
  border-radius: 0 !important;
  color: #252a2e !important;
}

#ot-sdk-cookie-policy table thead,
.optanon-cookie-policy-subgroup-table tr th,
#ot-sdk-cookie-policy-v2.ot-sdk-cookie-policy th {
  background-color: #f1f1f6 !important;
  color: #252a2e !important;
  font-weight: 600 !important;
}

.optanon-cookie-policy-subgroup-table tr th {
  border-top: 1px solid #b7b9c3;
  padding-bottom: 0 !important;
  padding-top: 1rem !important;
}

/** prefrence center modal **/
#ot-pc-desc {
  font-size: 14px !important;
}

#pc-policy-text,
#ot-pc-content {
  color: #252a2e !important;
}

.ot-pc-logo {
  opacity: 0;
}

#onetrust-pc-sdk .ot-tgl input:checked + .ot-switch .ot-switch-nob {
  border-color: #0063a3 !important;
}

#onetrust-pc-sdk .ot-tgl input:checked + .ot-switch .ot-switch-nob::before {
  background-color: #0063a3 !important;
}

#onetrust-pc-sdk .ot-cat-grp .ot-always-active {
  color: #0063a3 !important;
}

.ot-acc-txt,
.ot-acc-txt p {
  color: #252a2e !important;
  background-color: #f1f1f6 !important;
}

#ot-sdk-btn {
  border-color: #0063a3 !important;
  font-size: 14px !important;
  padding: 0.1875rem 1rem !important;
  text-transform: lowercase;
  user-select: none !important;
  line-height: 1.75 !important;
}

#ot-sdk-btn::first-letter {
  text-transform: uppercase;
}

#ot-sdk-btn:hover {
  background-color: #0063a3 !important;
}

.ot-pc-footer-logo a {
  opacity: 0.7;
}
