// blog posts
header.header-blog {
  background-size: cover;
  padding-top: 33% !important;
  background-position: center top;
}

.share svg {
  opacity: 0.8;
}

.share svg:hover {
  opacity: 0.6;
}

body[data-url^="/news/"] h3 {
  color: #000;
}
