@media (min-width: 768px) {
  #sidebar-menu {
    max-width: 256px;
    min-width: 256px;
  }
}

#sidebar a:hover {
  color: #000 !important;
}

[data-bs-theme="dark"] {
  #sidebar a:hover {
    color: #fff !important;
  }
}

#sidebar.collapsing .sticky-offset {
  top: 0 !important;
}

#sidebar.collapsing.collapse-horizontal {
  height: unset !important;
}

#sidebar.show {
  min-width: 250px;
}

#sidebar.show .sticky-offset {
  top: 65px !important;
}

.collapse-horizontal.collapse:not(.show) {
  width: 0;
}

.row-main {
  min-height: calc(100dvh - 66px);
}

#sidebar.collapsing {
  transition: none;
}

#sidebar:not(.show) + div,
#sidebar.collapsing + div {
  max-width: 100% !important;
}

#sidebar.show + div {
  min-width: calc(100vw - 340px);
}

#sidebar.collapsing + div,
#sidebar.show + div {
  max-width: calc(100vw - 270px);
}

#sidebar-menu {
  min-height: calc(100vh - 66px);
  max-height: calc(100vh - 66px);
}

.col-menu {
  transition: none !important;
  animation-duration: 0 !important;
}

body[data-url="/community/contact-us/"] #sidebar-menu a[href="/community/contact-us/"],
body[data-url="/community/contribute/"] #sidebar-menu a[href="/community/contribute/"],
body[data-url="/community/contribution-process/"] #sidebar-menu a[href="/community/contribution-process/"],
body[data-url="/community/modus-adoption/"] #sidebar-menu a[href="/community/modus-adoption/"],
body[data-url="/community/submission-guidelines/"] #sidebar-menu a[href="/community/submission-guidelines/"],
body[data-url="/community/submissions-status/"] #sidebar-menu a[href="/community/submissions-status/"],
body[data-url="/news/"] #sidebar-menu a[href="/news/"],
body[data-url="/community/tiger-teams/"] #sidebar-menu a[href="/community/tiger-teams/"] {
  font-weight: 700 !important;
}

#sidebar.collapsing {
  transition: none !important;
  animation-duration: 0 !important;
}

body[data-url*="/components/in-field/"] #sidebar-menu #flush-collapseMobile a.fw-bold,
body[data-url*="/components/in-field/"] #sidebar-menu #flush-collapseXR a.fw-bold,
body[data-url*="/components/in-field/"] #sidebar-menu #flush-collapseWeb a.fw-bold {
  font-weight: normal !important;
}

body[data-url*="/components/mobile/"] #sidebar-menu #flush-collapseXR a.fw-bold,
body[data-url*="/components/mobile/"] #sidebar-menu #flush-collapseInfield a.fw-bold,
body[data-url*="/components/mobile/"] #sidebar-menu #flush-collapseWeb a.fw-bold {
  font-weight: normal !important;
}

body[data-url*="/components/web/"] #sidebar-menu #flush-collapseMobile a.fw-bold,
body[data-url*="/components/web/"] #sidebar-menu #flush-collapseInfield a.fw-bold,
body[data-url*="/components/web/"] #sidebar-menu #flush-collapseXR a.fw-bold {
  font-weight: normal !important;
}

body[data-url*="/components/xr/"] #sidebar-menu #flush-collapseMobile a.fw-bold,
body[data-url*="/components/xr/"] #sidebar-menu #flush-collapseInfield a.fw-bold,
body[data-url*="/components/xr/"] #sidebar-menu #flush-collapseWeb a.fw-bold {
  font-weight: normal !important;
}
