// Accessibility

.skippy {
  z-index: 9999;
  left: 44%;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skippy:focus-within {
  transform: translateY(0%);
  background-color: white;
  z-index: 9999;
  top: 8px;
}
