[data-theme="light"] {
  html,
  body {
    color-scheme: light;
  }

  header.container-fluid h1,
  header.container-fluid h2 {
    color: #004f83;
  }

  header.container-fluid {
    background-color: #f1f1f6;
    color: #004f83 !important;
  }

  .bg-light {
    background-color: #f1f1f6 !important;
  }

  article a.btn-primary::after {
    filter: invert(1);
  }

  .theme-d {
    display: none !important;
  }

  #TableOfContents a {
    color: #171c1e;
  }

  @import "../../node_modules/@trimbleinc/modus-bootstrap/dist/modus";
}
