[data-bs-theme="light"] {
  article a.btn-primary::after {
    filter: invert(1);
  }

  .theme-d {
    display: none !important;
  }

  .col-menu {
    background-color: #f1f1f6 !important;
  }

  footer.footer {
    background-color: #f1f1f6 !important;
  }
}
