[data-theme="dark"] {
  @import "../../node_modules/@trimbleinc/modus-bootstrap/dist/modus-dark";

  html,
  body {
    color-scheme: dark;
  }

  #main h1,
  #main h1 p,
  #main p.lead,
  #main h2 {
    color: #f1f1f6 !important;
  }

  header.container-fluid {
    background-color: #171c1e !important;
  }

  header.container-fluid,
  header.container-fluid h1,
  header.container-fluid h2 {
    color: #f1f1f6 !important;
  }

  .navbar-main input {
    background-color: #171c1e !important;
  }

  .card-blog-brief a,
  .card-blog-brief h3,
  .card-blog-brief .card-footer p {
    color: #f1f1f6 !important;
  }

  footer.footer {
    background-image: none;
    background-color: #171c1e !important;
  }

  .menu-right #TableOfContents li .active {
    color: #f1f1f6 !important;
  }

  article footer em {
    color: #f1f1f6 !important;
    opacity: 0.8;
  }

  .menu-right a[href^="http"]::after,
  article a:not(.stretched-link)[href^="http"]::after {
    filter: invert(1);
  }

  .table td {
    color: #f1f1f6;
  }

  header .text-muted {
    color: #cbcdd6 !important;
  }

  .btn .spinner-border {
    color: #fff;
  }

  .table.table-bordered {
    background-color: #171c1e;
  }

  .card-blog-brief .card-header img {
    filter: invert(1) brightness(111%);
  }

  .theme-d {
    display: block;
  }

  .theme-l {
    display: none !important;
  }
}
