// Typography

.small-body {
  font-size: 12px !important;
}

// #web

.web-lead {
  font-weight: 400 !important;
}

.web-mini {
  font-size: 12px !important;
}

// #mobile-applications-scale

.mobile-heading-1 {
  font-size: 20px !important;
}

.mobile-heading-2 {
  font-size: 18px !important;
}

.mobile-heading-3 {
  font-size: 16px !important;
  font-weight: 600;
}

.mobile-heading-4 {
  font-size: 14px !important;
  font-weight: 600;
}

.mobile-heading-5 {
  font-size: 12px !important;
  font-weight: 700;
}

.mobile-heading-6 {
  font-size: 10px !important;
  font-weight: 700;
}

.mobile-lead {
  font-size: 18px !important;
}

.mobile-body {
  font-size: 12px;
}

.mobile-mini {
  font-size: 10px;
}

// #desktop-applications-scale

p[class^="desktop-"] {
  font-family: "Segoe UI", sans-serif;
}

.desktop-heading-1 {
  font-size: 24px !important;
}

.desktop-heading-2 {
  font-size: 20px !important;
}

.desktop-heading-3 {
  font-size: 16px !important;
}

.desktop-heading-4 {
  font-size: 14px !important;
  font-weight: 600;
}

.desktop-heading-5 {
  font-size: 12px !important;
  font-weight: 600;
}

.desktop-heading-6 {
  font-size: 12px !important;
  font-weight: 600;
}

.desktop-heading-7 {
  font-size: 10px !important;
  font-weight: 600;
}

.desktop-body-1 {
  font-size: 14px !important;
}

.desktop-body-2 {
  font-size: 12px !important;
}

.desktop-body-3 {
  font-size: 11px !important;
}

.desktop-body-4 {
  font-size: 10px !important;
}

.desktop-mini {
  font-size: 9px !important;
}

// #display-headings

.display-h1 {
  font-size: 72px !important;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.display-h2 {
  font-size: 40px !important;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.display-h3 {
  font-size: 32px !important;
  letter-spacing: 0.283px;
  font-weight: 600;
}
