// Utility Classes

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.bg-purple {
  background-color: #7952b3 !important;
}

.img-white {
  filter: grayscale(100%) brightness(800%);
}

.img-grayscale {
  filter: grayscale(100%);
}
