@import "theme-toggle";
@import "theme-light";
@import "theme-dark";
@import "autocomplete"; // search autocomplete dropdown
@import "article";
@import "cards";
@import "col-sidebar"; // 1st column
@import "color-preview"; // color swatches
@import "codefences"; // code syntax highlighting
@import "font-open-sans";
@import "foundations";
@import "javascript-disabled"; // display message at top if JS is disabled
@import "list-js";
@import "sidebar";
@import "menu-right"; // 'On this page' menu
@import "mobile"; // optimizations for xxs mobile screens
@import "navbar";
@import "navbar-search";
@import "news";
@import "posts";
@import "print";
@import "scroll-to-top-btn";
@import "skippy"; // skip to content accessibility
@import "tables";
@import "typography";
@import "footer";
@import "utilities";
@import "was-this-page-helpful";
@import "anatomy-css";

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

// underline links
main a {
  text-decoration: underline;
}

a.dropdown-item,
a.nav-link {
  text-decoration: none;
}

// don't underline links in buttons or navbar
.menu-left a,
.guide-example-block a,
table a,
nav a,
.btn {
  text-decoration: none;
}

.popover-body small {
  line-height: 100%;
}

code {
  font-size: inherit;
}

@media (min-width: 1200px) {
  .container,
  .container-xl {
    max-width: 1350px !important;
  }
}

main {
  min-height: calc(100vh - 412px);
}

.tooltip {
  z-index: 3070 !important;
}

#sidebar:not(.show) + div,
#sidebar.collapsing + div {
  max-width: calc(100% - 64px) !important;
}

[data-bs-theme="light"] .bg-panel-background {
  background-color: #f1f1f6 !important;
}

[data-bs-theme="dark"] .bg-panel-background {
  background-color: #252a2e !important;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
  filter: grayscale(1);
}

[data-bs-theme="light"] .list-group-item-action:active {
  background-color: var(--bs-list-group-action-hover-bg) !important;
}

.bg-light {
  background-color: #f1f1f6;
}
