@import "anatomy-css";
@import "autocomplete"; // search autocomplete dropdown
@import "article";
@import "cards";
@import "color-preview"; // color swatches
@import "codefences"; // code syntax highlighting
@import "foundations";
@import "ie11"; // IE 11 flexbox layout fixes
@import "list-js";
@import "menu-left";
@import "menu-right"; // 'On this page' menu
@import "mobile"; // optimizations for xxs mobile screens
@import "navbar";
@import "posts";
@import "ribbon-coming-soon";
@import "rfs";
@import "status";
@import "skippy"; // skip to content accessibility
@import "tables";
@import "typography";
@import "footer";
@import "utilities";

// underline links
a {
  text-decoration: underline;
}

.bg-light {
  background: #f3f3f7 !important;
}

// don't underline links in buttons or navbar
.menu-left a,
.guide-example-block a,
table a,
nav a,
.btn {
  text-decoration: none;
}

.popover-body small {
  line-height: 100%;
}

code {
  font-size: inherit;
}

@media (min-width: 1200px) {
  .container,
  .container-xl {
    max-width: 1250px;
  }
}

main {
  min-height: 60vh;
}

.highlight {
  background-color: #fff;
}

.menu-left,
.search-docs-toggle {
  z-index: 2222;
}
