@import "theme-toggle";
@import "theme-light";
@import "theme-dark";
@import "autocomplete"; // search autocomplete dropdown
@import "article";
@import "cards";
@import "color-preview"; // color swatches
@import "codefences"; // code syntax highlighting
@import "foundations";
@import "ie11"; // IE 11 flexbox layout fixes
@import "javascript-disabled"; // display message at top if JS is disabled
@import "list-js";
@import "menu-left";
@import "menu-right"; // 'On this page' menu
@import "mobile"; // optimizations for xxs mobile screens
@import "modus-icons"; // modus icons
@import "navbar";
@import "posts";
@import "print";
@import "rfs";
@import "scroll-to-top-btn";
@import "status";
@import "skippy"; // skip to content accessibility
@import "tables";
@import "typography";
@import "footer";
@import "utilities";
@import "was-this-page-helpful";
@import "anatomy-css";

// underline links
a {
  text-decoration: underline;
}

// don't underline links in buttons or navbar
.menu-left a,
.guide-example-block a,
table a,
nav a,
.btn {
  text-decoration: none;
}

.popover-body small {
  line-height: 100%;
}

code {
  font-size: inherit;
}

@media (min-width: 1200px) {
  .container,
  .container-xl {
    max-width: 1350px !important;
  }
}

main {
  min-height: 60vh;
}
