<header class="bg-secondary-subtle container-fluid">
  <div class="row">
    <div class="col bg-secondary px-1 bg-opacity-25" style="max-width: 54px">
      <button type="button" class="btn btn-lg btn-icon-only border-0 h-100" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="Menu">
        <i class="modus-icons notranslate text-dark">chevron_left_thick</i>
      </button>
    </div>
    <div class="col px-1">
      <div class="d-flex justify-content-between p-2 p-md-3">
        <div class="d-flex align-items-center">
          <div>
            <h3 class="h2 fw-normal">New Journal Entry</h3>
          </div>
          <div class="ms-2">
            <button type="button" class="btn btn-icon-only border-0" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="Star">
              <i class="modus-icons notranslate text-secondary opacity-75">star_outline</i>
            </button>
          </div>
        </div>
        <div class="d-none d-md-block h-100">
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary mx-1">New Entry</button>
            <button type="button" class="btn btn-tertiary mx-1">Update / Post</button>
            <button type="button" class="btn btn-tertiary mx-1">Reverse</button>
          </div>
        </div>
        <div class="dropdown d-inline-block d-md-none">
          <button class="btn btn-lg btn-icon-only border-0" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" aria-label="menu">
            <i class="modus-icons notranslate text-secondary mt-2" aria-hidden="true">more_vertical</i>
          </button>

          <ul class="dropdown-menu">
            <li class="bg-tranparent">
              <a class="dropdown-item" href="#">
                <button type="button" class="btn bg-transparent body-text p-1 border-0">
                  New Entry</button></a>
            <li><a class="dropdown-item" href="#">
                <button type="button" class="btn bg-transparent body-text p-1 border-0">
                  Update / Post</button></a>
            <li><a class="dropdown-item" href="#">
                <button type="button" class="btn bg-transparent body-text p-1 border-0">
                  Reverse</button></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
