<style>
  .card {
    min-height: 140px;
  }

  .card-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 129px;
  }

  .card-body .stretched-link {
    min-height: 44px;
  }
</style>

<div class="col-12 col-lg-6 col-xl-4 my-3">
  <div class="card card-blog-brief h-100 border bg-light shadow-sm">
    <div class="card-header top-rounded mb-0 pb-0 border-0"
      style="background-image: url({{ .Params.Image | relURL }});">
    </div>
    <div class="card-body bg-white border-0 pb-0">
      <h3 class="card-title px-2 ml-n2 name">
        {{- .Title | title -}}
      </h3>
      <p class="px-2 ml-n2">
        <a href="{{ .RelPermalink }}" class="stretched-link text-decoration-none text-muted">
          {{ with .Description }}{{ . }}
          {{ else }}{{ with .Summary }}{{ . | plainify | htmlUnescape }}
          {{- end -}}{{- end -}}
        </a>
      </p>
    </div>
    <div class="card-footer border-0 bg-white py-0">
      <div class="row mb-1">
        <div class="mx-3">
          <img src="/img/author/{{ .Params.author | urlize }}.jpg" class="bg-light rounded-circle mx-auto text-center"
            height="40" width="40" loading="lazy" alt="{{ .Params.author }}">
        </div>
        <div>
          <p class="text-muted small mb-0">{{ .Params.author }}</p>
          <p class="text-muted small">{{- .Date.Format "Jan 2, 2006" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
