<button class="btn btn-lg btn-icon-only theme-toggle nav-link border-0 mx-1" id="theme-toggle"
  title="Toggle Light/Dark Mode" aria-label="auto" aria-live="polite" type="button" data-toggle="tooltip">
  <svg class="sun-and-moon" aria-hidden="true" width="18" height="18" viewBox="0 0 24 24">
    <mask class="moon" id="moon-mask">
      <rect x="0" y="0" width="100%" height="100%" fill="#fff" />
      <circle cx="24" cy="10" r="6" fill="#111" />
    </mask>
    <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="#fff" />
    <g class="sun-beams" stroke="#fff">
      <line x1="12" y1="1" x2="12" y2="3" />
      <line x1="12" y1="21" x2="12" y2="23" />
      <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
      <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
      <line x1="1" y1="12" x2="3" y2="12" />
      <line x1="21" y1="12" x2="23" y2="12" />
      <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
      <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
    </g>
  </svg>
</button>
