<div class="col-12 col-lg-6 col-xl-4 my-3" {{ if .Params.keywords }} data-tags="{{ .Params.keywords }}" {{ end -}}>
  <div class="card card-blog-brief h-100 border bg-light shadow-sm">
    <div class="card-header top-rounded mb-0 pb-0 border-0"
      style="background-image: url(/img/headers/elements/{{ .Title | urlize }}.png);">
    </div>
    <div class="card-body bg-white border-0 pb-0">
      <h3 class="card-title px-2 ml-n2 name {{ if .Params.DoNotTranslateTitle }}notranslate{{ end -}}">
        {{- .Title -}}
      </h3>
      <p class="px-2 ml-n2">
        <a href="{{ .RelPermalink }}" class="stretched-link text-decoration-none text-muted">
          {{- with .Description }}{{ . }}
          {{- else -}}{{ with .Summary }}{{ . | plainify | htmlUnescape }}
          {{- end -}}{{- end -}}
        </a>
      </p>
    </div>
  </div>
</div>
