<div class="col-12 col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
  <div class="card mb-4">
    <table class="table border-0 table-borderless">
      <tr class="mb-3">
        <td class="w-50 text-muted">
          Batch:
        </td>
        <td>
          GTF
        </td>
      </tr>
      <tr>
        <td class="mb-3">
          Restricted:
        </td>
        <td>
        </td>
      </tr>
      <tr class="mb-3">
        <td>
          Status:
        </td>
        <td>
          <span class="badge text-bg-secondary">Entered</span>
        </td>
      </tr>
      <tr class="mb-3">
        <td>
          Year:
        </td>
        <td>
          2025
        </td>
      </tr>
      <tr class="mb-3">
        <td>
          Period:
        </td>
        <td>
          01
        </td>
      </tr>
      <tr class="mb-3">
        <td>
          Date:
        </td>
        <td>
          01/31/25
        </td>
      </tr>
      <tr class="mb-3">
        <td>
          Reverse:
        </td>
        <td>
          Yes (02/01/25)
        </td>
      </tr>
      <tr class="mb-3">
        <td>
          Created By:
        </td>
        <td>
          GTF
        </td>
      </tr>
    </table>
  </div>
</div>
