<ul class="nav nav-tabs mb-0 w-100 border-0">
  {{ if in .Params.tags "in-field" }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-usage text-decoration-none{{ if in .Params.tags "usage" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/in-field/{{ with .Params.component }}{{ . | lower }}{{- end -}}/">
      Usage</a>
  </li>
  {{ if not (in .Params.tags "hide-styles" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-styles text-decoration-none{{ if in .Params.tags "styles" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/in-field/{{ with .Params.component }}{{ . | lower }}{{- end -}}/styles/">
      {{ partial "icons/modus-solid/palette.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Styles</a>
  </li>
  {{ end }}
  {{ if not (in .Params.tags "hide-accessibility" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-accessibility text-decoration-none{{ if in .Params.tags "accessibility" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/in-field/{{- with .Params.component -}}{{- . | lower -}}{{- end -}}/accessibility/">
      {{ partial "icons/modus-outlined/accessibility-circle.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Accessibility</a>
  </li>
  {{ end }}

  {{ else if .Params.componentsWeb }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-usage text-decoration-none{{ if in .Params.tags "usage" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/web/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/">
      Usage</a>
  </li>
  {{ if not (in .Params.tags "hide-styles" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-styles text-decoration-none{{ if in .Params.tags "styles" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/web/{{- with .Title -}}{{- . | lower | urlize }}{{- end -}}/styles/">
      {{ partial "icons/modus-solid/palette.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Styles</a>
  </li>
  {{ end }}
  {{ if not (in .Params.tags "hide-accessibility" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-accessibility {{ if in .Params.tags "accessibility" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/web/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/accessibility/">
      {{ partial "icons/modus-outlined/accessibility-circle.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Accessibility</a>
  </li>
  {{ end }}
  {{ if not (in .Params.tags "hide-figma" ) }}
  <!-- <li class="nav-item" hidden>
    <a class="nav-link px-2 px-sm-3 nav-figma d-none text-decoration-none{{ if in .Params.tags "figma" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/web/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/figma/">
      {{ partial "icons/figma.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Figma</a>
  </li> -->
  {{ end }}
  {{ end }}

  {{ if (in .Params.tags "mobile" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-usage text-decoration-none{{ if in .Params.tags "usage" }} active pe-none{{ else }} text-body{{end}}"
      href="/components/mobile/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/">
      Usage</a>
  </li>
  {{ if not (in .Params.tags "hide-styles" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-styles text-decoration-none{{ if in .Params.tags "styles" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/mobile/{{- with .Title -}}{{- . | lower | urlize }}{{- end -}}/styles/">
      {{ partial "icons/modus-solid/palette.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Styles</a>
  </li>
  {{ end }}
  {{ if not (in .Params.tags "hide-accessibility" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-accessibility text-decoration-none{{ if in .Params.tags "accessibility" }} active pe-none {{ else }} text-body{{end}}"
      href="/components/mobile/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/accessibility/">
      {{ partial "icons/modus-outlined/accessibility-circle.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Accessibility</a>
  </li>
  {{ end }}
  {{ end }}
  {{ if (in .Params.tags "xr" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-usage text-decoration-none{{ if in .Params.tags "usage" }} active pe-none{{ else }} text-body{{end}}"
      href="/components/xr/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/">
      Usage</a>
  </li>
  {{ if not (in .Params.tags "hide-styles" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-styles text-decoration-none{{ if in .Params.tags "styles" }} active pe-none{{ else }} text-body{{end}}"
      href="/components/xr/{{- with .Title -}}{{- . | lower | urlize }}{{- end -}}/styles/">
      {{ partial "icons/modus-solid/palette.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Styles</a>
  </li>
  {{ end }}
  {{ if not (in .Params.tags "hide-accessibility" ) }}
  <li class="nav-item">
    <a class="nav-link px-2 px-sm-3 nav-accessibility text-decoration-none{{ if in .Params.tags "accessibility" }} active pe-none{{ else }} text-body{{end}}"
      href="/components/xr/{{- with .Title -}}{{- . | lower | urlize -}}{{- end -}}/accessibility/">
      {{ partial "icons/modus-outlined/accessibility-circle.svg" (dict "class" "me-2 opacity-75 d-none d-sm-inline-block" "width" "18" "height" "18") }}
      Accessibility</a>
  </li>
  {{ end }}
  {{ end }}
</ul>
