{{ $currentPage := . }}
<div class="container">
  <div class="row mt-n4 d-md-none">
    <div class="col px-0">
      <form class="form-group px-0" name="search">
        <div class="input-with-icon-left">
        <input data-search-input="" aria-label="Search" autocorrect="off" spellcheck="false" autocapitalize="off" type="search"
          class="form-control search-mobile" name="query" placeholder="Search..." autocomplete="off"
          title="" required>
          <div class="input-icon">
            {{ partial "icons/modus-outlined/search.svg" (dict "class" "text-dark opacity-75 mt-1" "width" "20" "height" "20") }}
          </div>
          </div>
      </form>
    </div>

    <div class="col-1 px-1 mx-auto">
      <button class="btn search-docs-toggle d-md-none mx-auto px-0" type="button" data-toggle="collapse"
        data-target="#docs-nav" aria-controls="docs-nav" aria-expanded="true" aria-label="Toggle docs navigation">
        {{ partial "icons/modus-outlined/menu.svg" (dict "class" "opacity-75" "width" "30" "height" "30") }}
      </button>
    </div>
  </div>
</div>

<div class="sticky-top sticky-offset border-bottom">
  <nav class="collapse" id="docs-nav" aria-label="Docs navigation">
    <ul class="list-unstyled" id="menu-left">
      {{- if .Params.start -}}
      {{ range .Site.Menus.start -}}
      <li><a class="nav-link" href="{{ .URL }}">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
      {{- end -}}

      {{- if .Params.foundations -}}
      {{ range .Site.Menus.foundations -}}
      <li><a class="nav-link" href="{{ .URL }}">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
      {{- end -}}

      {{- if .Params.componentsWeb -}}
      {{ range .Site.Menus.components_web }}
      {{- if not .Params.hidden -}}
      <li><a
          class="nav-link {{ .Post }} {{ if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Parent.Name .Name) }}active{{- end -}}"
          href="{{ .URL }}">
          {{- .Name -}}
        </a></li>
      {{- end }}
      {{- end }}
      {{- end -}}

      {{ if in .Params.tags "in-field" }}
      {{ range .Site.Menus.components_infield }}
      {{- if not .Params.hidden -}}
      <li><a
          class="nav-link {{ .Post }} {{ if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Parent.Name .Name) }}active{{- end -}}"
          href="{{ .URL }}">
          {{- .Name -}}
        </a></li>
      {{- end }}
      {{- end }}
      {{- end -}}

      {{ if in .Params.tags "mobile" }}
      {{ range .Site.Menus.components_mobile }}
      {{- if not .Params.hidden -}}
      <li><a
          class="nav-link {{ .Post }} {{ if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Parent.Name .Name) }}active{{- end -}}"
          href="{{ .URL }}">
          {{- .Name -}}
        </a></li>
      {{- end }}
      {{- end }}
      {{- end -}}

      {{ if in .Params.tags "xr" }}
      {{ range .Site.Menus.components_xr }}
      {{- if not .Params.hidden -}}
      <li><a
          class="nav-link {{ .Post }} {{ if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Parent.Name .Name) }}active{{- end -}}"
          href="{{ .URL }}">
          {{- .Name -}}
        </a></li>
      {{- end }}
      {{- end }}
      {{- end -}}

      {{- if .Params.community -}}
      {{- range .Site.Menus.community -}}
      <li><a class="nav-link" href="{{ .URL }}">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
      {{- end -}}

      {{- if .Params.blog -}}
      {{- range .Site.Menus.community -}}
      <li><a class="nav-link" href="{{ .URL }}">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
      {{- end -}}
</ul>
    <script>
      $(function () {
        var nav = document.getElementById("menu-left"),
          anchor = nav.getElementsByTagName("a"),
          current = window.location;
        for (var i = 0; i < anchor.length; i++) {
          if (anchor[i].href == current) {
            anchor[i].setAttribute("aria-current", "page");
          }
        }
      });
</script>
  </nav>
  </div>
