<div class="sticky-top sticky-offset">
  <h5 class="pt-2 ml-3">
    On this page
  </h5>
  {{- .TableOfContents -}}
<script>
  $(function() {
    jQuery('#TableOfContents ul').addClass('list-unstyled pl-0 ml-0');
    jQuery('#TableOfContents a').addClass('nav-link text-dark');
  });
</script>
<hr>

{{- if .Params.bootstrapURL -}}
<h5 class="pt-2 ml-3">
Implementations
</h5>
<ul class="list-unstyled pl-0 ml-0">
<li><a href="https://modus-bootstrap.trimble.com{{- .Params.bootstrapURL -}}" class="nav-link text-dark text-decoration-none" target="_blank" >Modus Bootstrap</a></li>
</ul>
{{- end -}}

{{ partial "was-this-page-helpful.html" . }}
</div>
