<div class="sticky-top sticky-offset">
{{ if and (gt .WordCount 100 ) (not .Params.hideToc) }}
  <div class="h5 pt-2 ml-3 on-this-page">
    On this page
  </div>
  {{- .TableOfContents -}}
<script>
  $(function() {
    jQuery('#TableOfContents ul').addClass('list-unstyled pl-0 ml-0');
    jQuery('#TableOfContents a').addClass('nav-link');
  });
</script>
<hr>
{{ end }}

{{- if (or (.Params.bootstrapURL)  (.Params.reactBootstrapURL)) -}}
<div class="h5 pt-2 ml-3">
Implementations
</div>
<ul class="list-unstyled pl-0 ml-0">
{{- if .Params.bootstrapURL}}
  <li><a href="https://modus-bootstrap.trimble.com{{- .Params.bootstrapURL -}}" class="nav-link text-decoration-none" target="_blank" rel="noopener">Modus Bootstrap</a></li>
{{- end -}}
{{- if .Params.reactBootstrapURL}}
  <li><a href="https://modus-react-bootstrap.trimble.com{{- .Params.reactBootstrapURL -}}" class="nav-link text-decoration-none" target="_blank" rel="noopener">Modus React Bootstrap</a></li>
{{- end -}}
</ul>
{{- end -}}

{{ partial "was-this-page-helpful.html" . }}
</div>
