<div class="container">
  <nav class="navbar navbar-expand-md fixed-top" aria-label="main navigation">
    <div class="container">
      <a class="navbar-brand" href="/">
        {{ partial "icons/trimble-logo.svg" (dict "class" "d-inline-block text-trimble-blue" "width" "107" "height" "25") }}
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          {{ partial "icons/navbar-toggler-icon.svg" (dict "class" "text-white text-center" "width" "88" "height" "88") }}
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">{{- .Name -}}</a>
            <div class="dropdown-menu border">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL }}">
                {{- .Name -}}
              </a>
              {{- end -}}
            </div>
          </li>
          {{ else }}
          <li class="nav-item mx-2">
            <a class="nav-link" href="{{ .URL }}">
              {{- .Name -}}
            </a>
          </li>
          {{- end -}}
          {{- end -}}
        </ul>

        {{ block "search" . }} {{ partial "search" . }} {{- end -}}

      </div>
    </div>
  </nav>
</div>
