<div class="fixed-top" style="z-index:3000">
  {{ partial "skippy" . }}
  <nav class="navbar navbar-blue navbar-main navbar-expand" aria-label="main navigation">
    <div class="container flex-column flex-md-row justify-content-end">
      <a class="navbar-brand mr-left mr-md-auto font-weight-bold" href="/">
        {{ partial "logos/trimble.svg" (dict "class" "img-fluid" "width" "115" "height" "26") }}
        <div>Modus Style Guide</div>
      </a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item mx-sm-1 mx-md-2 dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">{{- .Name -}}</a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item text-dark border-0" href="{{ .URL }}">
                {{- .Name -}}
              </a>
              {{- end -}}
            </div>
          </li>
          {{ else }}
          <li class="nav-item mx-0 mx-sm-1 mx-md-2">
            <a class="nav-link{{if ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
              {{- .Name -}}
            </a>
          </li>
          {{- end -}}
          {{- end -}}
          <li class="nav-item">
            {{ partial "theme-toggle" . }}
          </li>
        </ul>
      </div>
      {{ partialCached "search" . }}
    </div>
  </nav>
</div>
