<nav class="navbar navbar-expand fixed-top" aria-label="main navigation">
  <div class="container flex-column flex-md-row justify-content-end">
    <a class="navbar-brand mr-left mr-md-auto font-weight-bold" href="/">
      <img src="/img/trimble-logo.svg" width="107" height="25" class="img-fluid" alt="home">
      <div class="text-primary">Modus Style Guide</div>
    </a>
    {{ partial "skippy" . }}
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item mx-sm-1 mx-md-2 dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{{- .Name -}}</a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL }}">
              {{- .Name -}}
            </a>
            {{- end -}}
          </div>
        </li>
        {{ else }}
        <li class="nav-item mx-0 mx-sm-1 mx-md-2">
          <a class="nav-link{{if ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
            {{- .Name -}}
          </a>
        </li>
        {{- end -}}
        {{- end -}}
      </ul>
    </div>
    {{ partial "search" . }}
  </div>
</nav>
