{{ partial "skippy" . }}
<nav class="navbar navbar-expand" aria-label="main navigation">
  <div class="container flex-column flex-md-row justify-content-end">
    <a class="navbar-brand mr-left mr-md-auto font-weight-bold" href="/">
      <img src="/img/trimble-logo.svg" width="107" height="25" class="img-fluid" alt="home">
      <div class="text-primary">Modus Style Guide</div>
    </a>

    <div class="navbar-nav-scroll">
      <ul class="navbar-nav">
        <li class="nav-item mx-0 mx-sm-1 mx-md-2">
          <a class="nav-link" href="/start/">
            Start
          </a>
        </li>
        <li class="nav-item mx-0 mx-sm-1 mx-md-2">
          <a class="nav-link" href="/foundations/">
            Foundations
          </a>
        </li>
        <li class="nav-item mx-sm-1 mx-md-2 dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Components</a>
          <div class="dropdown-menu">
            <a class="dropdown-item border-0" href="/components/">Web</a>
            <a class="dropdown-item border-0" href="/mobile/">Mobile</a>
            <a class="dropdown-item border-0" href="/in-field">In-Field</a>
            <a class="dropdown-item border-0 bg-white disabled pe-none" disabled>Desktop <span class="text-muted small">(Coming Soon)</span></a>
            <a class="dropdown-item border-0 bg-white disabled pe-none" disabled>VR MR <span class="text-muted small">(Coming Soon)</span></a>
          </div>
        </li>

        <li class="nav-item mx-0 mx-sm-1 mx-md-2">
          <a class="nav-link" href="/community/">
            Community
          </a>
        </li>
      </ul>
    </div>
    {{ partial "search" . }}
  </div>
</nav>
