<div class="d-none small p-2 feedback mt-2">
  <div class="mt-2 mb-1">Was this page helpful?</div>
  <button type="button" class="btn btn-light btn-outline btn-feedback btn-feedback-helpful border rounded p-1 mr-2"
    aria-label="Helpful">
    {{- partial "icons/modus-outlined/thumbs-up.svg" (dict "width" "22" "height" "22" "class" "mx-2 mx-auto text-primary") -}}
  </button>
  <button type="button" class="btn btn-light btn-outline btn-feedback btn-feedback-not-helpful border rounded p-1"
    aria-label="Not Helpful">
    {{- partial "icons/modus-outlined/thumbs-down.svg" (dict "width" "22" "height" "22" "class" "mx-2 mx-auto text-primary") -}}
  </button>
</div>

<div class="small ml-2 d-none feedback-helpful">
  Thanks for your feedback!
</div>

<div class="small ml-2 d-none feedback-not-helpful">
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuIxfZ0zboQ5ZncY2Lgvnx00JFzb5g5_cwxQVtlYHktHLr_g/viewform?entry.1151338109={{ .Permalink }}" rel="nofollow" target="_blank">Please, provide feedback about how we can improve the page</a>. Thank you!
</div>
