
  </div> <!-- closing for .guide-content-column -->
  <div class="guide-right-nav px-4 pt-4 pb-0"></div>
</div> <!-- closing for .guide-body -->

<div class="guide-footer p-2">
  <div class="small mr-3">Copyright &copy; 2019, Trimble Inc.</div>
  <div class="small mr-3"><a href="https://www.trimble.com/Corporate/Terms_of_Use.aspx" target="_blank">Terms of Use</a></div>
  <div class="small mr-3">Modus Version: ${guideVersion}</div>
  <div class="small mr-3">Updated: ${guideBuildDate}</div>
</div>
</div>
<div id="snackbar"></div>

<!-- Popup content to allow for JIRA js binding -->
<div id="feedbackPopoverContent" class="hidden pb-2">
  <div>
      <h4 class="d-inline-block">Feedback</h4>
  </div>
  <a href="https://plus.google.com/u/0/communities/106752401938284014662" target="_blank" class="mb-2 btn btn-block btn-secondary">
    Modus Community Forum
  </a>
  <a href="#" id="issueButton" class="btn btn-block btn-secondary mb-2">
    Report an Issue
  </a>
  <a href="#" id="featureButton" class="btn btn-block btn-secondary">
    Request a Feature
  </a>
  </div>

<script type="text/javascript">
  window.ATL_JQ_PAGE_PROPS = $.extend(window.ATL_JQ_PAGE_PROPS, {
  '9127b19e' : {
    triggerFunction:
    function(showCollectorDialog) {
      jQuery("#issueButton").click(function(e) {
        e.preventDefault();
        showCollectorDialog();
      });
    }
  },
  'eac08567' : {
    triggerFunction:
    function(showCollectorDialog) {
      jQuery("#featureButton").click(function(e) {
        e.preventDefault();
        showCollectorDialog();
      });
    }
  }
});
</script>
</body>

</html>