<div class="guide-code-options d-flex align-items-center p-2 border-bottom-0 border-top-0">
    <label class="mr-2 mb-0">Background</label>
    <select class="bg-color-select custom-select w-25">
      <option value="#ffffff">White</option>
      <option value="#F3F3F7">Panel Background (col_gray_light)</option>
      <option value="#363545">Trimble Gray</option>
      <option value="#005F9E">Trimble Blue</option>
    </select>
</div>
<div class="guide-code"></div>
<button class="btn btn-link guide-copy-code">Click to Copy</button>