<ul class="guide-tabs nav nav-tabs" id="ContentTabs" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active show"
        id="code-tab"
        data-toggle="tab"
        href="#code-content"
        role="tab"
        aria-controls="code-content"
        aria-selected="true"
        >Code</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="guide-tab"
        data-toggle="tab"
        href="#guide-content"
        role="tab"
        aria-controls="guide-content"
        aria-selected="false"
        >Guide</a
      >
    </li>
  </ul>