<div class="guide-code-options d-flex align-items-center px-3 py-2 border-top border-gray-200">
  <label class="mr-2 mb-0 text-nowrap">Sample Background</label>
  <select class="bg-color-select custom-select flex-grow-0 w-auto">
    <option value="#ffffff">White</option>
    <option value="#F3F3F7">Light Gray</option>
    <option value="#363545">Dark Gray</option>
  </select>

  <button class="btn btn-outline-primary btn-sm guide-copy-code ml-auto">    
      <i class="modus-icon material-icons left-icon">code</i>
    Copy code
  </button>
  
</div>

<div class="guide-code border-top border-gray-200"></div>
