<ul class="guide-tabs nav nav-tabs" id="ContentTabs" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active show"
      id="guide-tab"
      data-toggle="tab"
      href="#guide-content"
      role="tab"
      aria-controls="guide-content"
      aria-selected="true"
      >Guide</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="code-tab"
      data-toggle="tab"
      href="#code-content"
      role="tab"
      aria-controls="code-content"
      aria-selected="false"
      >Code</a
    >
  </li>
  <!-- <li class="ml-auto">
    <div class="guide-code-options d-flex align-items-center mt-2 invisible">
      <label class="mr-2 mb-0 text-nowrap">Sample Background</label>
      <select class="bg-color-select custom-select">
        <option value="#ffffff">White</option>
        <option value="#F3F3F7">Light Gray</option>
        <option value="#363545">Dark Gray</option>
      </select>
    </div>
  </li> -->
</ul>
