<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Trimble Modus Design System</title>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="${modusIcons}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="${require(`../img/favicon.ico`)}"
    />

    <link rel="stylesheet" href="${modusCSS}" />
    <link rel="stylesheet" href="${modusLayoutCSS}" />
    <script src="${modusLayoutJS}"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="https://jira.trimble.tools/s/3437519aa7c48d4bde2062c82e260064-T/obnrbp/76010/9d85737751e6b339a2967c1b0989fc67/2.0.27/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=9127b19e"
    ></script>
    <script
      type="text/javascript"
      src="https://jira.trimble.tools/s/3437519aa7c48d4bde2062c82e260064-T/obnrbp/76010/9d85737751e6b339a2967c1b0989fc67/2.0.27/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=eac08567"
    ></script>
    <script src="https://kit.fontawesome.com/bbe67f2190.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-787590-52"
    ></script>
    <script src="https://kit.fontawesome.com/bbe67f2190.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-787590-52');
    </script>
  </head>

  <body>
    <div class="guide-layout">

      <div class="guide-header">
        <nav class="navbar navbar-expand-lg">
          <button
            class="btn btn-text-dark btn-lg btn-icon-only mr-3 navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mainSidebar"
            aria-controls="mainSidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="modus-icon material-icons menu-btn">menu</i>
          </button>
          <a class="navbar-brand d-none d-lg-block" href="/index.html">
            <img
              src="${require(`../img/trimble-logo.svg`)}"
              alt="Trimble"
              class="d-inline-block"
              height="25px"
            />
          </a>
          <div class="navbar-text mr-auto ml-3">
            <h1 class="text-primary m-0">Modus Design System<span style="position: relative; top: -9px" class="badge badge-sm badge-warning ml-1 bg-trimble-yellow text-dark">BETA</span></h1>
          </div>
          <div class="navbar-nav ml-auto">
              <button type="button" id="feedback-button" data-toggle="popover" class="btn btn-lg btn-icon-only btn-text-primary"><i class="modus-icon material-icons">feedback</i></button>
            </div>
        </nav>
      </div>

      <div class="guide-body">

          ${require(`../partials/left-nav.html`)}

        <div
          class="guide-content-column"
        >
        <a  name="top"></a>
