<nav
  class="guide-nav collapse navbar-collapse external-collapse position-sticky"
  id="mainSidebar"
>
  <ul class="nav flex-column">
    <li class="has-subnav">
      <a
        id="start"
        href="/index.html"
        class="nav-link collapsed "
        data-toggle="collapse"
        data-target="#startSubnav"
      >
        Start <i class="modus-icon material-icons">expand_more</i>
      </a>
      <div class="collapse" id="startSubnav">
        <ul class="nav sub-nav flex-column pl-2">
          <li class="nav-item">
            <a id="designers" class="nav-link" href="/designers.html">
              Designers</a
            >
          </li>
          <li class="nav-item">
            <a href="/setup.html" id="setup" class="nav-link">
              Developers </a>
          </li>
          <li class="nav-item">
            <a id="status" class="nav-link" href="/status.html">
              Status
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="has-subnav">
      <a
        id="foundations"
        href="#"
        class="nav-link collapsed "
        data-toggle="collapse"
        data-target="#foundationsSubnav"
      >
        Foundations <i class="modus-icon material-icons">expand_more</i>
      </a>

      <div class="collapse" id="foundationsSubnav">
        <ul class="nav sub-nav flex-column pl-2">
          <li class="nav-item">
            <a id="colors" class="nav-link" href="/colors.html">
              Color Palette</a
            >
          </li>
          <li class="nav-item">
            <a id="typography" class="nav-link" href="/typography.html">
              Typography</a
            >
          </li>
          <li class="nav-item">
            <a id="depth" href="depth.html" class="nav-link">
              Depth
            </a>
          </li>
          <li class="nav-item">
            <a id="spacing" href="spacing.html" class="nav-link">
              Spacing
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="has-subnav">
      <a
        id="components"
        href="#"
        class="nav-link collapsed "
        data-toggle="collapse"
        data-target="#componentsSubnav"
      >
        Elements <i class="modus-icon material-icons">expand_more</i>
      </a>

      <div class="collapse" id="componentsSubnav">
        <ul class="nav sub-nav flex-column pl-2">
          <li class="nav-item">
            <a id="accordions" href="/accordions.html" class="nav-link">
              Accordions
            </a>
          </li>
          <li class="nav-item">
            <a id="alerts" href="/alerts.html" class="nav-link">
              Alerts & Toasts
            </a>
          </li>
          <li class="nav-item">
            <a id="badges" href="/badges.html" class="nav-link">
              Badges
            </a>
          </li>
          <li class="nav-item">
            <a id="breadcrumbs" href="/breadcrumbs.html" class="nav-link">
              Breadcrumbs
            </a>
          </li>
          <li class="nav-item">
            <a id="buttons" href="/buttons.html" class="nav-link">
              Buttons
            </a>
          </li>
          <li class="nav-item">
            <a id="chips" href="/chips.html" class="nav-link">
              Chips
            </a>
          </li>
          <li class="nav-item">
            <a id="cards" href="cards.html" class="nav-link">
              Cards
            </a>
          </li>
          <li class="nav-item">
            <a id="checkboxes" href="checkboxes.html" class="nav-link">
              Checkboxes & Switches
            </a>
          </li>
          <li class="nav-item">
            <a id="dropdowns" href="/dropdowns.html" class="nav-link">
              Dropdowns
            </a>
          </li>
          <li class="nav-item">
            <a id="forms" href="/inputs.html" class="nav-link">
              Inputs
            </a>
          </li>
          <li class="nav-item">
            <a id="lists" href="/lists.html" class="nav-link">
              Lists
            </a>
          </li>
          <li class="nav-item">
            <a id="modals" href="/modals.html" class="nav-link">
              Modals
            </a>
          </li>
          <li class="nav-item">
            <a id="pagination" href="/pagination.html" class="nav-link">
              Pagination
            </a>
          </li>
          <li class="nav-item">
            <a id="progress" href="/progress.html" class="nav-link">
              Progress
            </a>
          </li>
          <li class="nav-item">
            <a id="radio" href="/radio.html" class="nav-link">
              Radio
            </a>
          </li>
          <li class="nav-item">
            <a id="sliders" href="/sliders.html" class="nav-link">
              Sliders
            </a>
          </li>
          <li class="nav-item">
            <a id="spinners" href="spinners.html" class="nav-link">
              Spinners
            </a>
          </li>
          <li class="nav-item">
            <a id="tables" href="/tables.html" class="nav-link">
              Tables
            </a>
          </li>
          <li class="nav-item">
            <a id="tabs" href="/tabs.html" class="nav-link">
              Tabs
            </a>
          </li>
          <li class="nav-item">
            <a id="tooltips" href="/tooltips.html" class="nav-link">
              Tooltips
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="has-subnav">
      <a
        id="utilities"
        href="#controls-subnav"
        class="nav-link collapsed "
        data-toggle="collapse"
        data-target="#utilitiesSubnav"
      >
        Framework <i class="modus-icon material-icons">expand_more</i>
      </a>
      <div class="collapse" id="utilitiesSubnav">
        <ul class="nav sub-nav flex-column pl-2">
          <li class="nav-item">
            <a href="/changes.html" id="changeLog" class="nav-link">
              Changelog
            </a>
          </li>
          <li class="nav-item">
            <a href="/borders.html" id="borders" class="nav-link">Borders </a>
          </li>
          <li class="nav-item">
            <a href="/clearfix.html" id="clearfix" class="nav-link">
              Clearfix
            </a>
          </li>
          <li class="nav-item">
            <a href="/close-icon.html" id="closeIcon" class="nav-link">
              Close Icon
            </a>
          </li>
          <li class="nav-item">
            <a href="/display.html" id="display" class="nav-link">
              Display
            </a>
          </li>
          <li class="nav-item">
            <a href="/embed.html" id="embed" class="nav-link">
              Embed
            </a>
          </li>
          <li class="nav-item">
            <a href="/flex.html" id="flex" class="nav-link">
              Flex
            </a>
          </li>
          <li class="nav-item">
            <a href="/float.html" id="float" class="nav-link">
              Float
            </a>
          </li>
          <li class="nav-item">
            <a href="/overflow.html" id="overflow" class="nav-link">
              Overflow
            </a>
          </li>
          <li class="nav-item">
            <a href="/position.html" id="position" class="nav-link">
              Position
            </a>
          </li>
          <li class="nav-item">
            <a href="/sizing.html" id="sizing" class="nav-link">
              Sizing
            </a>
          </li>
          <li class="nav-item">
            <a href="/padding_margin.html" id="padding_margin" class="nav-link">
              Padding and Margin
            </a>
          </li>
          <li class="nav-item">
            <a href="/text.html" id="text" class="nav-link">
              Text
            </a>
          </li>
          <li class="nav-item">
            <a
              href="/vertical-alignment.html"
              id="verticalAlignment"
              class="nav-link"
            >
              Vertical Alignment
            </a>
          </li>
          <li class="nav-item">
            <a href="/visibility.html" id="visibility" class="nav-link">
              Visibility
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
