<style>
  .rtf-editor .btn:focus-visible {
    box-shadow: none !important;
  }
  .rtf-editor .vr {
    background-color: #6A6E79 !important;
    opacity: 1;
    margin-top: .3rem !important;
    margin-bottom: .3rem !important;
  }
  [data-bs-theme="light"] main button.btn .modus-icons {
    font-size: 24px;
    color: #000 !important;
  }
  [data-bs-theme="light"] main button.btn[data-bs-toggle="button"] {
    border-color: #fff !important;
    border-width: 0;
  }
  [data-bs-theme="light"] main .d-flex.border-top {
    border-color: #6A6E79 !important;
  }
  [data-bs-theme="dark"] main button.btn .modus-icons {
    font-size: 24px;
    color: #fff !important;
  }
  [data-bs-theme="dark"] main button.btn[data-bs-toggle="button"] {
    border-color: transparent !important;
    border-width: 0;
  }
  [data-bs-theme="dark"] main .d-flex.border-top {
    border-color: #6A6E79;
  }
  </style>

  <div class="guide-example-block my-3 bg-secondary bg-opacity-10 py-2 px-1">
    <div class="guide-content-sample bg-body m-3 mx-auto rtf-editor overflow-hidden" style="max-width: 710px; min-width: 300px">
      <div class="d-flex border-top border-end border-start">
        <div class="border-start">
        <div class="dropdown">
    <button class="btn text-body fw-normal btn-outline-secondary dropdown-toggle dropdown-ff fs-6 small text-start border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 118px; min-width: 118px;">
      Sans Serif
    </button>
    <ul class="dropdown-menu dropdown-menu-ff" style="max-width: 118px; min-width: 118px;">
      <li><a class="dropdown-item small" href="#">Sans Serif</a></li>
      <li><a class="dropdown-item small" style="font-family:Georgia,times new roman,Times,serif;" href="#">Serif</a></li>
      <li><a class="dropdown-item small font-monospace" href="#">Preformatted</a></li>
    </ul>
  </div>
  </div>
  <div class="vr my-1"></div>
  <div class="dropdown">
    <button class="btn fw-normal btn-outline-secondary dropdown-toggle dropdown-fs fs-6 small text-start border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 80px; min-width: 80px;">
      14px
    </button>
    <ul class="dropdown-menu dropdown-menu-fs" style="max-width: 80px; min-width: 80px;">
      <li><a class="dropdown-item small" href="#" style="font-size: 14px;">14px</a></li>
      <li><a class="dropdown-item small" href="#" style="font-size: 12px;">12px</a></li>
      <li><a class="dropdown-item small" href="#" style="font-size: 10px;">10px</a></li>
    </ul>
  </div>
  <div class="vr my-1"></div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Bold" data-bs-toggle="button">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Bold" style="font-size: 24px;">text_bold</i>
          </button>
        </div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Italic" data-bs-toggle="button">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Italic" style="font-size: 24px;">text_italic</i>
          </button>
        </div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Underlined" data-bs-toggle="button">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Underlined" style="font-size: 24px;">text_underlined</i>
          </button>
        </div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Strikethrough" data-bs-toggle="button">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Strikethrough" style="font-size: 24px;">text_strikethrough</i>
          </button>
        </div>
        <div class="vr my-1"></div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Text align: Left">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Text align: Left">text_align_left</i>
          </button>
        </div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Text align: Center">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Text align: Center">text_centered</i>
          </button>
        </div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Text align: Right">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Text align: Right">text_align_right</i>
          </button>
        </div>
        <div class="vr my-1"></div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="List: bulleted">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="List: Bulleted">list_bulleted</i>
          </button>
        </div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="List: numbered">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="List: Numbered">list_numbered</i>
          </button>
        </div>
        <div class="vr my-1"></div>
        <div class="mx-1">
          <button type="button" class="btn btn-outline-secondary btn-icon-only border-0" aria-label="Link">
            <i class="modus-icons notranslate mt-1" aria-hidden="true" data-bs-toggle="tooltip" data-bs-offset="0,16" title="Link">link</i>
          </button>
        </div>
      </div>
      <div>
        <textarea class="form-control pe-none" style="border-top-left-radius:0;border-top-right-radius:0;" id="exampleFormControlTextarea1" rows="10" aria-label="Textarea"></textarea>
      </div>
    </div>
  </div>
  <script>
  let selectorBtn = document.querySelector('.dropdown-ff.dropdown-toggle');
  let items = document.querySelectorAll('.dropdown-menu-ff .dropdown-item');
  items.forEach(item => {
      item.addEventListener("click", function() {
          selectorBtn.innerHTML = item.text;
          selectorBtn.value = item.dataset.value;
          console.log(`innerHTML: ${selectorBtn.innerHTML}, value: ${selectorBtn.value}`);
      });
  });
  </script>
  <script>
  let selectorBtnFs = document.querySelector('.dropdown-fs.dropdown-toggle');
  let itemsFs = document.querySelectorAll('.dropdown-menu-fs .dropdown-item');
  itemsFs.forEach(item => {
      item.addEventListener("click", function() {
          selectorBtnFs.innerHTML = item.text;
          selectorBtnFs.value = item.dataset.value;
          console.log(`innerHTML: ${selectorBtnFs.innerHTML}, value: ${selectorBtnFs.value}`);
      });
  });
  </script>
