{{- /*
  Usage: `example [args]`

  `args` are optional and can be one of the following:
    id: the `div`'s id - default: ""
    class: any extra class(es) to be added to the `div` - default ""
    show_preview: if the preview should be output in the HTML - default: `true`
    show_markup: if the markup should be output in the HTML - default: `true`
*/ -}}

{{- $lang := .Get "lang" | default "html" -}}
{{- $show_preview := .Get "show_preview" | default true -}}
{{- $show_markup := .Get "show_markup" | default true -}}
{{- $input := .Inner -}}

<div class="guide-example-block shadow-sm my-3">

  {{- if eq $show_preview true -}}
  <div{{ with .Get "id" }} id="{{ . }}" {{- end -}} class="bg-white bd-example{{ with .Get "class" }} {{ . }}{{- end -}}">
    {{- $input -}}
</div>
{{- end -}}

<div class="guide-code-options d-flex align-items-center px-3 py-2 border-top border-gray-200">
  <label class="mr-2 mb-0 text-nowrap" hidden>Sample Background</label>
  <select class="bg-color-select custom-select flex-grow-0 w-auto" hidden>
    <option value="#ffffff">White</option>
    <option value="#F3F3F7">Light Gray</option>
  </select>
  <button class="btn btn-outline-primary btn-sm guide-copy-code ml-auto">
    <i class="modus-icon material-icons left-icon">code</i>
    Copy code
  </button>

  <form action="https://codepen.io/pen/define" method="POST" target="_blank">
    <input type="hidden" name="data"
      value='{"title": "New Pen!","html":{{- $input | safeHTML | jsonify -}},"html_pre_processor":"none","css":"body {padding: 40px}","css_pre_processor":"none","css_starter":"neither","css_prefix_free":false,"js":"","js_pre_processor":"none","js_modernizr":false,"js_library":"","html_classes":"","css_external":"https://modus.trimble.com/css/modus.min-0.9.5.css;https://modus.trimble.com/css/modus-layout.min-0.9.5.css;https://modus.trimble.com/assets/0.5.0/fonts/modus-icons.css;https://fonts.googleapis.com/icon?family=Material+Icons","js_external":"https://code.jquery.com/jquery-3.5.1.slim.min.js;https://modus.trimble.com/css/modus-layout.min-0.9.5.js;https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js","template":true}'>
    <button type="submit" value="Open in CodePen" class="btn btn-outline-primary btn-sm codepen-mover-button ml-2">
      <i class="icon-left modus-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 26 26" style="margin-top: -3px;">
          <path
            d="M13 25.2c-.2 0-.5-.1-.6-.2l-11-7.3-.3-.3v-.1c-.1-.2-.2-.4-.2-.6V9.3c0-.2.1-.4.2-.6l.3-.3 11-7.3c.4-.3.9-.3 1.3 0l11 7.3.3.3c.1.2.2.4.2.6v7.4c0 .2-.1.4-.2.6v.1l-.3.3-11 7.3c-.2.1-.5.2-.7.2zm1.2-8v4.6l7.8-5.2-3.5-2.3-4.3 2.9zm-10.1-.5l7.8 5.2v-4.6l-4.3-2.9-3.5 2.3zM9.6 13l3.4 2.3 3.4-2.3-3.4-2.3L9.6 13zm10.9 0l2.3 1.6v-3.1L20.5 13zM3.1 11.4v3.1L5.5 13l-2.4-1.6zm11.1-2.7l4.3 2.9L22 9.3l-7.8-5.2v4.6zm-10.1.6l3.5 2.3 4.3-2.9V4.1L4.1 9.3z">
          </path>
        </svg>
      </i> Open in CodePen</button>
  </form>
</div>

{{- if eq $show_markup true -}}
{{- $content := replaceRE `<svg class="bd\-placeholder\-img(?:\-lg)?(?: *?bd\-placeholder\-img\-lg)? ?(.*?)".*?<\/svg>\n` `<img src="..." class="$1" alt="...">` $input -}}
{{- $content = replaceRE `(class=" *?")` "" $content -}}
{{- highlight (trim $content "\n") $lang "" -}}
{{- end -}}

</div>
