name: Review reminders

on:
  schedule:
    - cron: "0 9 * * *"

jobs:
  deploy:
    name: Review reminders
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/website-modus.trimble.com'

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: blombard/review-reminder@master
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          reminder-comment: "Don't forget to review this PR !"
          days-before-reminder: "3"
