name: Review reminders

on:
  schedule:
    - cron: "0 9 * * *"

jobs:
  deploy:
    name: Review reminders
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/website-modus.trimble.com'

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: blombard/review-reminder@e4bb52f8df46e4b9c752451bbd01a412c4502ed9 # master
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          reminder-comment: "Don't forget to review this PR !"
          days-before-reminder: "3"
