name: SonarQube Scan

on:
  pull_request:
    branches-ignore:
      - "dependabot/**"
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 18

permissions:
  contents: read

jobs:
  scan:
    name: Sonar Scan Runner
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Run Sonar Scan Action
        uses: sonarsource/sonarqube-scan-action@40f5b61913e891f9d316696628698051136015be # master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
