name: "Check spelling"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches-ignore:
      - "dependabot/**"

env:
  FORCE_COLOR: 2
  NODE: 22

permissions:
  contents: read

jobs:
  spellcheck: # run the action
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    permissions:
      # allow streetsidesoftware/cspell-action to fetch files for commits and PRs
      contents: read
      pull-requests: read

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: streetsidesoftware/cspell-action@76c6f6d52abd57f4bcab5f3fde1bbd4f19a99eb0 # v7.2.1
        with:
          check_dot_files: false
          incremental_files_only: true
          inline: warning
          strict: false
